﻿@page "/"
@page "/main"
@layout MainLayout
@inherits EasySnm2.Pages.MainComponent

@using Radzen
@using Radzen.Blazor
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Main">
    </RadzenHeading>
  </ChildContent>
</RadzenContent>
