﻿/* SegoeUI */
@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 400;
    src: local('SegoeUI Regular'), url('./segoeui-regular.woff2') format('woff2'), url('./segoeui-regular.woff') format('woff');
}

/* SegoeUI - light */
@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 100;
    src: local('SegoeUI Light'), url('./segoeui-light.woff2') format('woff2'), url('./segoeui-light.woff') format('woff');
}

/* SegoeUI - semilight */
@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 300;
    src: local('SegoeUI Semilight'), url('./segoeui-semilight.woff2') format('woff2'), url('./segoeui-semilight.woff') format('woff');
}

/* SegoeUI - bold */
@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 700;
    src: local('SegoeUI Bold'), url('./segoeui-bold.woff2') format('woff2'), url('./segoeui-bold.woff') format('woff');
}

/* SegoeUI - semibold */
@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 600;
    src: local('SegoeUI Semibold'), url('./segoeui-semibold.woff2') format('woff2'), url('./segoeui-semibold.woff') format('woff');
}