﻿@mixin subtabs_simple() {
    & {
        margin-left: 53px;
        margin-right: 53px;
        background-color: $level_1;
        padding-left: 35px;


        nav.subtabs_container {
            margin-right: 53px;
            height: 51px;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) !important;

            ul.nav-tabs {
                border: 0;

                li {
                    font-size: 16px;
                    font-weight: 400;
                    margin-right: 28px;

                    &.intro, &.available, &.ready {
                        cursor: default;
                        pointer-events: none;

                        a.nav-link {
                            text-decoration: none;
                        }
                    }

                    &.disabled-tablink {
                        cursor: default;
                        pointer-events: none;
                    }

                    a.nav-link {
                        padding-left: 0;
                        padding-right: 5px;
                        padding-top: 7px;
                        display: inline-block;
                        height: 50px;
                        vertical-align: middle;
                        color: $pagetabs_standard_text_color;
                        border: 0;

                        span.image {
                            font-size: 27px;
                            vertical-align: middle;
                            bottom: 3px;
                            position: relative;

                            .icon-colloqui {
                                &:before {
                                }
                            }

                            .icon-listatest {
                                &:before {
                                }
                            }

                            .icon-testattitudinali {
                                &:before {
                                }
                            }
                        }

                        &.active {
                            background-color: rgba($level_1, 0.0);
                            box-shadow: 0 3px 0 $selpro_color;
                            font-weight: 600;
                            letter-spacing: -0.36px;
                            color: #3d3d3d;
                            border: 0;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                            padding-top: 7px;
                            display: inline-block;
                            height: 50px;
                            vertical-align: middle;
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}
