﻿@mixin validation() {
    & {
        &.validation_row_full_screen {
            margin-left: 53px;
            margin-right: 53px;
        }

        .validation-errors {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 30px;
            padding-right: 15px;
            background-color: rgba($red, 0.2);
            border: solid 1px $red;

            .validation-message {
                color: $red;
                font-weight: 600;
            }
        }
    }
}
