﻿@mixin dots($mode) {
    & {
        $font-size: unset;
        $position: unset;
        $bottom: unset;
        $left: unset;

        @if $mode == "datagrid" {
            $font-size: 30px;
            $position: relative;
            bottom: 4px;
            $left: 10px;
        }

        @if $mode == "standard" {
            $font-size: 30px;
            $position: relative;
            top: 3px;
            $left: 5px;
            line-height: 3px;
        }

        font-size: $font-size;
        position: $position;
        left: $left;

        &.red_dot {
            color: $red;
        }

        &.green_dot {
            color: $green;
        }

        &.grey_dot {
            color: $level_2;
        }
    }
}
