﻿@mixin button($type: "primary", $size: "standard", $highlight: "none") {
    /*basic font settings*/
    $font-family: Selawik;
    $font-weight: 400;


    /*Size section*/
    $min-width: unset;
    $height: unset;
    $padding-top: unset;
    $font-size: unset;
    $padding-left: unset;
    $padding-right: unset;

    @if $size == "fixed-standard" {
        & {
            $font-size: 17px;
            $height: 42px;
            $padding-top: 6px;
            $min-width: 160px;
            $padding-left: 15px;
            $padding-right: 15px;
        }
    }
    @else if $size == "standard" {
        & {
            $font-size: 17px;
            $height: 42px;
            $padding-top: 6px;
            $padding-left: 15px;
            $padding-right: 15px;
        }
    }
    @else if $size == "fixed-small" {
        & {
            $font-size: 16px;
            $height: 36px;
            $padding-top: 5px;
            $min-width: 160px;
            $padding-left: 15px;
            $padding-right: 15px;
        }
    }
    @else if $size == "small" {
        & {
            $font-size: 16px;
            $height: 36px;
            $padding-top: 5px;
            $padding-left: 12px;
            $padding-right: 12px;
        }
    }
    @else if $size == "fixed-dialog" {
        & {
            $font-size: 17px;
            $height: 42px;
            $padding-top: 6px;
            $min-width: 55px;
            $padding-left: 15px;
            $padding-right: 15px;
        }
    }
    @else if $size == "fixed-overview" {
        & {
            $font-size: 16px;
            $height: 24px;
            $padding-top: 0;
            $min-width: 82px;
            $padding-left: 10px;
            $padding-right: 10px;
        }
    }
    @else if $size == "micro" {
        & {
            $font-size: 14px;
            $height: 31px;
            $padding-top: 4px;
            $padding-left: 8px;
            $padding-right: 8px;
        }
    }
    @else {
        @error "Unknown button size #{$size}.";
    }
    /*Type section*/
    $color: unset;
    $background-color: unset;
    $border-color: unset;
    $border-style: unset;
    $border-width: unset;
    $hover-background-color: unset;
    $hover-color: unset;

    @if $type == "primary" {
        $color: $level_0;
        $background-color: $selpro_color;
        $border-color: $selpro_color;
        $border-style: solid;
        $border-width: 1px;
        $hover-background-color: rgba($border-color, 0.9);
        $hover-color: $level_0;
    }
    @else if $type == "secondary" {
        $color: $level_0;
        $background-color: $level_4;
        $border-color: $level_4;
        $border-style: solid;
        $border-width: 1px;
        $hover-background-color: rgba($border-color, 0.9);
        $hover-color: $level_0;
    }
    @else if $type == "outline-dark" {
        $color: $level_5;
        $background-color: $level_0;
        $border-color: $level_4;
        $border-style: solid;
        $border-width: 1px;
        $hover-background-color: rgba($border-color, 0.15);
        $hover-color: $level_5;
    }
    @else if $type == "transparent-outline-dark" {
        $color: $level_5;
        $background-color: rgba($level_0, 0.0);
        $border-color: $level_4;
        $border-style: solid;
        $border-width: 1px;
        $hover-background-color: rgba($border-color, 0.15);
        $hover-color: $level_5;
    }
    @else if $type == "danger" {
        $color: $level_0;
        $background-color: $red;
        $border-color: $red;
        $border-style: solid;
        $border-width: 1px;
        $hover-background-color: rgba($border-color, 0.9);
        $hover-color: $level_0;
    }
    @else if $type == "success" {
        $color: $level_0;
        $background-color: $green;
        $border-color: $green;
        $border-style: solid;
        $border-width: 1px;
        $hover-background-color: rgba($border-color, 0.9);
        $hover-color: $level_0;
    }
    @else if $type == "outline-primary" {
        $color: $level_5;
        $background-color: rgba($level_0, 0.0);
        $border-color: $selpro_color;
        $border-style: solid;
        $border-width: 1px;
        $hover-background-color: rgba($border-color, 0.9);
        $hover-color: $level_0;
    }
    @else if $type == "outline-success" {
        $color: $level_5;
        $background-color: $level_0;
        $border-color: $green;
        $border-style: solid;
        $border-width: 1px;
        $hover-background-color: rgba($border-color, 0.9);
        $hover-color: $level_0;
    }
    @else {
        @error "Unknown button type #{$type}.";
    }
    /*Highlight section*/
    $-webkit-box-shadow: unset;
    $-moz-box-shadow: unset;
    $box-shadow: unset;

    @if $highlight == "glow" {
        $-webkit-box-shadow: 0 6px 10px 0 rgba($border-color, 0.15);
        $-moz-box-shadow: 0 6px 10px 0 rgba($border-color, 0.15);
        $box-shadow: 0 6px 10px 0 rgba($border-color, 0.15);
    }
    @else if $highlight == "none" {
        $-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        $-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        $box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    @else {
        @error "Unknown button highlight #{$highlight}.";
    }



    &,
    &:disabled,
    &.disabled {
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: $font-size;
        min-width: $min-width;
        height: $height;
        padding-top: $padding-top;
        padding-left: $padding-left;
        padding-right: $padding-right;
        color: $color;
        background-color: $background-color;
        border-color: $border-color;
        border-style: $border-style;
        border-width: $border-width;
        -webkit-box-shadow: $-webkit-box-shadow;
        -moz-box-shadow: $-moz-box-shadow;
        box-shadow: $box-shadow;
    }

    &:disabled, &.disabled {
        opacity: 0.65;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }

    &:hover, &.hover {
        background-color: $hover-background-color;
        color: $hover-color;
        border-color: rgba($border-color, 0.85);
        border-style: $border-style;
        border-width: $border-width;
    }

    &:active, &.active,
    &:focus, &.focus {
        color: $color !important;
        background-color: $background-color !important;
        border-color: $border-color !important;
        border-style: $border-style;
        border-width: $border-width;
        outline: 0 !important;
        box-shadow: 0 0 0 3px rgba($border-color, 0.25) !important;
    }
}
