﻿@mixin datagrid($mode) {
    & {
        margin-left: 53px;
        margin-right: 53px;
        margin-bottom: 25px;
        margin-top: 25px;

        thead {
            .dx-blazor-checkbox {
                .custom-checkbox {
                    margin-top: 40px;
                }
            }
        }

        &.datagrid_embedded {
            margin-left: 0;
            margin-right: 0;
        }

        .card,
        .card table,
        .card thead tr th,
        .dxbs-cmd-cell {
            border: 0;
        }

        .dxbs-filter-row {
            td {
                border: 0;
            }
        }

        .card thead {
            border-bottom-color: $level_6;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        .dxbs-fixed-header-content {
            a {
                font-weight: 600;
                font-size: 12px;
                color: $level_5;
                text-transform: uppercase;
            }

            button {
                max-height: 18px;
                padding: 0;
                border: 0;

                &:hover {
                    color: $level_5;
                    text-decoration: none;
                }

                span {
                    &.oi::after {
                        font-size: 30px;
                        position: relative;
                        top: -14px;
                        right: 17px;
                        margin-left: -14px;
                        margin-right: -25px;
                        color: $level_5;
                    }

                    &.oi-arrow-top::after {
                        content: "▴";
                    }

                    &.oi-arrow-bottom::after {
                        content: "▾";
                    }
                }
            }
        }

        .dxbs-filter-row {
            input.form-control:focus {
                border-color: #ffae9d;
                box-shadow: 0 0 0 0.2rem rgba($selpro_color, 0.45);
            }

            .dx-listbox input.form-control {
                background-color: $level_0;
            }

            .dx-listbox .dxbs-edit-btn,
            .dxbs-dropdown-edit .dxbs-edit-btn {
                background-color: $level_0;
                border-left: 0;
                color: $level_4;
            }
        }

        .selpro_row {
            height: 50px;
            min-height: 50px;
            font-size: 16px;
            font-weight: 400;
            color: $level_4;
            border-bottom-color: #e8e8e8;
            border-bottom-style: solid;
            border-bottom-width: 1px;


            td {
                height: 50px !important;
                border: 0;

                &.table-active {
                    background-color: #edeeef !important;

                    &.text-white {
                        color: $level_4 !important;
                    }
                }
            }

            a {
                font-size: 16px;
                font-weight: 600;
                color: #3d3d3d;

                &.line-awesome {
                    font-size: 22px;
                    color: $level_4;
                }
            }


            &.table-dark,
            &.table-dark td {
                background-color: $level_0;
            }

            .dx-checkbox {
                display: block;
            }
        }

        .page-item {
            a.page-link {
                color: $selpro_color;
                border-color: rgb(222, 226, 230);

                &:focus {
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba($selpro_color, 0.25);
                }
            }

            &.page-number a.page-link {
                font-size: 16px;
                line-height: 1.25;
                color: $level_4;
            }
        }

        .page-number {
            &:first-child a.page-link {
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
            }

            &.active a.page-link {
                border: solid 1px rgba(222, 226, 230, 0);
                background-color: $selpro_color;
                color: $level_0;
            }
        }

        .badge {
            &.badge-success {
                @include badge("success");
            }

            &.badge-danger {
                @include badge("danger");
            }

            &.badge-secondary {
                @include badge("secondary");
            }

            &.badge-light {
                @include badge("light");
            }

            &.badge-info {
                @include badge("info");
            }
        }

        .dxbs-pager {
            margin-top: 35px;
        }

        .dx-page-size-selector {
            margin-right: 150px;

            .dxbs-combobox {
                border-radius: 4px;
                border: solid 1px $level_4;
                width: 75px;

                .dxbs-edit-btn {
                    background-color: $level_0;
                    color: $level_4;
                    border: 0;
                    padding-top: 8px;
                }

                .form-control {
                    background-color: $level_0;
                    color: $level_4;
                    border: 0;
                }
            }

            .col-form-label {
                font-size: 16px;
                line-height: 1.5;
                color: $level_4;
            }
        }

        button {
            &.btn-outline-dark {
                @include button("outline-dark", "standard", "none");
                margin-right: 20px;
                margin-top: -5px;
            }

            &.btn-primary {
                @include button("primary", "standard", "glow");
                margin-top: -5px;
            }
        }

        .dxbs-combobox button,
        .dxbs-dropdown-edit button {
            width: 25px;
            background-color: $level_0;
            color: #495057;
            border: 0;
        }

        .dxbs-combobox input:focus {
            border-color: rgba($selpro_color, 1);
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($selpro_color, 0.25);
        }

        .dxbs-gridview th {
            font-size: 12px;
            font-weight: 600;
            color: #3d3d3d;

            &.dxbs-grid-checkbox-col {
                text-align: left;
            }
        }

        .dots {
            @include dots("datagrid");
        }

        .datagrid_total_records {
            color: $level_4;
            margin-right: 0;
            margin-left: auto;
            position: relative;
            top: -43px;
        }
    }
}
