﻿/*========================================*/
/*========= FLEXIBLE-LIST MIXIN ==========*/
/*========================================*/

@mixin flexible_list_component() {
    /*Icon-Buttons*/
    $icon-button-width: 30px;
    $icon-button-padding-top: 30px;
    $icon-button-margin-right: 30px;

    $icon-button-font-size: 29px !important;
    $icon-button-position: relative;
    $icon-button-top-spacing: -6px;


    /*Generic-Text*/
    $generic-text-width: 160px;
    $generic-text-padding-top: 33px;
    $generic-text-font-style: italic;
    $generic-text-font-weight: 600;

    & {
        .flexible_list_component_icon_button {
            padding-top: $icon-button-padding-top;
            min-width: $icon-button-width;
            max-width: $icon-button-width;
            margin-right: $icon-button-margin-right;

            i.icon-add {
                color: $level_5;
                font-size: $icon-button-font-size;
                position: $icon-button-position;
                top: $icon-button-top-spacing;
            }

            i.icon-trash {
                &::before {
                    font-size: $icon-button-font-size;
                }

                color: $level_5;
                font-size: $icon-button-font-size;
                position: $icon-button-position;
                top: $icon-button-top-spacing;
            }

            .la-search-plus {
                font-size: 38px;
                color: #3d3d3d;
                position: relative;
                top: -2px;
            }
        }

        .flexible_list_component_generic_text {
            min-width: $generic-text-width;
            max-width: $generic-text-width;

            .generic_text {
                padding-top: $generic-text-padding-top;
                font-style: $generic-text-font-style;
                font-weight: $generic-text-font-weight;
            }
        }
    }
}



