﻿@mixin popup($width, $height) {
    & {
        min-width: $width;
        max-width: $width;
        min-height: $height;
        max-height: $height;
        padding: 0;
        border: 0;
        overflow-y: initial !important;

        .blazored-modal-header {
            padding-bottom: 20px;
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
            border-bottom-color: $level_2;
            border-bottom-style: solid;
            border-bottom-width: 1px;

            .blazored-modal-title {
                font-size: 20px;
                font-weight: 600;
                color: $level_5;
            }

            .blazored-modal-close {
                height: 31px;
                margin-top: -22px;

                &:focus {
                    outline: 0;
                }
            }
        }

        .blazored-modal-content {
            min-height: $height - 64px;
            max-height: $height - 64px;

            .container-fluid {
                min-height: $height - 64px;
                max-height: $height - 64px;

                .row.popup_content {
                    padding-top: 25px;
                    min-height: $height - 64px - 80px;
                    max-height: $height - 64px - 80px;
                }

                & > .row {
                    margin-left: 0;
                    margin-right: 0;
                }

                &.wizard {
                    & > .row.popup_content {
                        .wizard_secondary {
                            margin-left: 21px;
                            padding-left: 21px;
                            border-left-color: $level_2;
                            border-left-style: solid;
                            border-left-width: 1px;

                            & > .row {
                                margin-right: 0;
                                margin-left: 0;
                            }

                            .wizard_steps {
                                .wizard_steps_local_number {
                                    font-size: 18px;
                                    font-weight: 600;
                                    color: $level_5;
                                }

                                .wizard_steps_totale_number {
                                    font-size: 18px;
                                    font-weight: 400;
                                    color: $level_5;
                                }
                            }

                            hr {
                                margin-top: 8px;
                                margin-bottom: 18px;
                            }

                            .wizard_step_title {
                                h4 {
                                    font-size: 22px;
                                    font-weight: 600;
                                    color: $selpro_color;
                                    text-transform: uppercase;
                                }
                            }

                            .wizard_step_description {
                                font-size: 18px;
                                font-weight: 400;
                                color: $level_5;
                                margin-bottom: 45px;
                            }

                            .wizard_step_signature {
                                img {
                                    max-width: 332px;
                                    max-height: 104px;
                                    display: block;
                                    width: auto;
                                    height: auto;
                                }
                            }
                        }
                    }
                }

                .buttons_row {
                    width: 100%;
                    height: 80px;
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 15px;
                    margin-bottom: 15px;


                    .buttons_left {
                        button {
                            margin-right: 18px;
                        }
                    }

                    .buttons_right {
                        text-align: end;

                        button {
                            margin-left: 18px;
                        }
                    }

                    .btn-primary {
                        @include button("primary", "standard", "glow");
                    }

                    .btn-outline-dark {
                        @include button("outline-dark", "standard", "none");
                    }
                }
            }
        }
    }
}
