﻿@mixin badge($type) {
    /*Font*/
    $font-size: 15px;
    $font-weight: 600;
    $font-stretch: normal;
    $font-style: normal;
    $letter-spacing: normal;

    /*Colors*/
    $color: unset;
    $background-color: unset;

    /*Borders*/
    $border-color: unset;
    $border-width: 1px;
    $border-style: solid;
    $border-radius: 4px;

    /*Padding and Size*/
    $height: 23px;
    $min-width: 65px;
    $padding-left: 10px;
    $padding-right: 10px;


    @if $type == "success" {
        $color: $level_0;
        $background-color: $green;
        $border-color: $background-color;
    }
    @else if $type == "danger" {
        $color: $level_0;
        $background-color: $red;
        $border-color: $background-color;
    }
    @else if $type == "secondary" {
        $color: rgba($level_4, 0.3);
        $background-color: $level_1;
        $border-color: $background-color;
    }
    @else if $type == "light" {
        $color: $level_3;
        $background-color: $level_0;
        $border-color: $green;
    }
    @else if $type == "info" {
        $color: $level_5;
        $background-color: $level_0;
        $border-color: $level_5;
    }
    @else {
        @error "Unknown badge type #{$type}.";
    }

    & {
        /*Font*/
        font-size: $font-size;
        font-weight: $font-weight;
        font-stretch: $font-stretch;
        font-style: $font-style;
        letter-spacing: $letter-spacing;
        /*Colors*/
        color: $color;
        background-color: $background-color;
        /*Borders*/
        border-color: $border-color;
        border-width: $border-width;
        border-style: $border-style;
        border-radius: $border-radius;
        /*Padding and Size*/
        height: $height;
        min-width: $min-width;
        padding-left: $padding-left;
        padding-right: $padding-right;
    }
}
