﻿@mixin sidebars_link($height, $text-color) {
    & {
        width: 100%;
        display: block;
        padding-left: 0;
        height: $height;
        line-height: $height !important;
        color: $text-color;
        font-family: SegoeUI;
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;

        &:hover {
            text-decoration: none;
        }

        span {
            margin-right: 35px;
        }
    }
}
