﻿@mixin sidebars_panel($width, $offset, $background-color, $text-color) {
    $lateral_padding: 35px;
    $element_width: $width - $lateral_padding - $lateral_padding;

    & {
        min-width: $width;
        max-width: $width;
        background-color: $background-color;
        height: calc(100vh - #{$offset});
        position: fixed;
        top: $offset;
        left: 0;
        z-index: 50;
        transition: visibility 0s, opacity 0.5s linear;
        -moz-transition: visibility 0s, opacity 0.5s linear;
        -webkit-transition: visibility 0s, opacity 0.5s linear;

        .backoffice_sidebar_header {
            height: 100px;
            width: $element_width;
            color: $text-color;
            font-family: SegoeUI;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            margin-left: $lateral_padding;
            margin-right: $lateral_padding;
            margin-bottom: 20px;
            padding-top: 22px;
            border-bottom: 1px solid $text-color;

            h5 {
                font-size: 18px;
                font-weight: 300;
            }

            h2 {
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .backoffice_sidebar_linklist {
            width: $element_width;
            margin-left: $lateral_padding;
            margin-right: $lateral_padding;
        }

        .backoffice_sidebar_bottom {
            width: $element_width;
            position: absolute;
            bottom: 0;
            margin-left: $lateral_padding;
            margin-right: $lateral_padding;
            margin-top: 20px;
            padding-top: 7px;
            border-top: 1px solid $text-color;
        }
    }
}
