﻿/*==================================*/
/*========= RESULTS ENTRY ==========*/
/*==================================*/

.resultsentry_boxes {
    margin-left: 53px;
    margin-right: 53px;
    margin-top: 5px;

    .resultsentry {
        min-height: 160px;
        padding-left: 0;
        padding-right: 0;

        &.resultsentry_insert {
            margin-left: 120px;
            max-width: 625px;
            min-width: 500px;

            .row {
                .resultsentry_content {
                    padding-left: 27px;
                }
            }
        }

        &.resultsentry_reception {
            min-width: 725px;
        }

        .row {
            height: 100%;
            margin: 0;

            .resultsentry_title {
                display: flex;
                align-items: center;
                padding-left: 0;
                padding-right: 0;

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    color: $level_4;
                    text-transform: uppercase;
                }
            }

            .resultsentry_content {
                background-color: $level_1;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-left: 15px;
                padding-right: 20px;
                margin-left: 20px;

                .resultsentry_photo {
                    padding: 0;
                    max-width: 173px;
                    margin-right: 26px;

                    img {
                        width: 172px;
                        height: 131px;
                    }
                }

                & > .row {
                    margin: 0;
                }

                .resultsentry_data {
                    padding-left: 0;
                    padding-right: 0;
                    margin-bottom: 6px;

                    .resultsentry_fields {
                        height: 50%;

                        .col {
                            padding-left: 0;
                            padding-right: 0;

                            &:not(:first-child) {
                                margin-left: 24px;
                            }

                            .resultsentry_field {
                                .label_row {
                                    margin-left: 0;
                                    margin-right: 0;
                                    display: block;
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: $level_4;
                                    text-transform: uppercase;
                                    margin-bottom: 7px;
                                }

                                .input_row {
                                    margin-left: 0;
                                    margin-right: 0;
                                    display: block;

                                    .dxbs-combobox, .dxbs-textbox, .dxbs-date-edit, .dxbs-spin-edit {
                                        input {
                                            font-size: 16px;
                                            font-weight: 400;
                                            color: $level_5;
                                            background-color: $level_0;
                                            height: 38px;

                                            &[readonly] {
                                                background-color: $level_0;
                                                /*opacity: 0.1;*/
                                            }

                                            &:focus {
                                                border-color: $selpro_color;
                                                outline: 0;
                                                box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .resultsentry_button {
                        height: 50%;

                        button {
                            margin-top: 0;
                            box-shadow: 0 6px 10px 0 rgba(255, 102, 36, 0.15);
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

/*==================================*/
/*========= RESULTS ENTRY ==========*/
/*==================================*/

.physicaltests_details {
    padding-left: 68px;
    padding-right: 68px;
    margin-top: 30px;
    row-gap: 45px;
    column-gap: 5%;

    .details_cell {
        min-height: 285px;

        .row {
            margin-left: 0;
            margin-right: 0;

            &.details_cell_header {
                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    color: $selpro_color;
                    text-transform: uppercase;
                    margin-bottom: 0;
                }
            }

            &.details_cell_data {
                margin-bottom: 20px;

                .col {
                    padding: 0;

                    &:first-child {
                        margin-right: 30px;
                    }

                    .sub_field {
                        .input_row {
                            height: 38px;
                            display: flex;
                            align-items: center;

                            input {
                                font-size: 16px;
                                font-weight: 600;
                                color: $level_5;
                                background-color: $level_0;
                                height: 38px;

                                &[readonly] {
                                    background-color: rgba($level_3, 0.1);
                                }

                                &:focus {
                                    border-color: rgba($selpro_color, 1);
                                    outline: 0;
                                    box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                                }
                            }

                            span {
                                font-size: 16px;
                                font-weight: 600;
                                color: $level_5;
                            }
                        }

                        .message_row {
                            span {
                                font-size: 13px;
                                font-weight: 600;
                                color: $level_4;
                                font-style: italic;
                            }
                        }
                    }
                }
            }

            &.details_cell_note {
                .sub_field {
                    width: 100%;

                    .input_row {
                        textarea {
                            min-height: 120px !important;
                        }
                    }
                }
            }

            &.details_cell_note,
            &.details_cell_data {
                .label_row {
                    margin-left: 0;
                    margin-right: 0;
                    display: block;
                    font-size: 12px;
                    font-weight: 600;
                    color: $level_4;
                    text-transform: uppercase;
                    margin-bottom: 7px;
                }

                .input_row {
                    margin-left: 0;
                    margin-right: 0;
                    display: block;
                }
            }
        }

        hr {
            margin-top: 17px;
            margin-bottom: 17px;
        }
    }
}