﻿/*=============================*/
/*========= TASKLIST ==========*/
/*=============================*/

.joblist {
    font-family: SegoeUI;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    height: 100%;

    .btn-primary {
        @include button("primary", "small", "none");
    }

    .btn-outline-dark {
        @include button("outline-dark", "small", "none");
    }

    button {

        i {
            font-size: 26px;
            line-height: 22px;
        }
    }

    .joblist-panel {
        position: fixed;
        right: 75px;
        bottom: 75px;
        width: 450px;
        background-color: $level_0;
        border-radius: 4px;
        box-shadow: 1px 1px 5px 1px $level_2;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        max-height: 600px;
        overflow-y: auto;
        @include scrollbars(7px, $selpro_color, $level_1);

        .joblist-panel-header {
            height: 50px;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;

            .row {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;

                .col-1 {
                    padding-top: 1px;
                    position: relative;
                    right: 5px;
                }

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    color: $selpro_color;
                    text-transform: uppercase;
                    padding-top: 9px;
                    padding-left: 5px;
                }

                a {
                    &:hover {
                        text-decoration: unset;

                        span {
                            text-decoration: unset;
                        }
                    }

                    span {
                        font-size: 24px;
                        font-weight: 700;
                        color: $level_6;
                        right: 10px;
                        position: relative;
                    }
                }
            }
        }

        .jobentry {
            height: 100px;
            border-top: solid $level_2 1px;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;

            &:first-child {
                border-top: 0;
            }

            .row {
                width: 100%;
                height: 100%;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;

                .col-8 {
                    padding-top: 37px;

                    a, span {
                        color: $level_5;
                    }

                    a {
                        font-weight: 600;
                    }
                }

                .col-2 {
                    text-align: center;

                    .spinner-border {
                        color: $selpro_color;
                        margin-top: 33px;
                    }

                    .la-check-circle {
                        color: $green;
                        -webkit-text-stroke: 1px $green;
                        font-size: 40px;
                        margin-top: 29px;
                    }

                    .la-times-circle {
                        color: $red;
                        -webkit-text-stroke: 1px $red;
                        font-size: 40px;
                        margin-top: 29px;
                    }

                    button {
                        margin-top: 27px;
                        position: relative;
                        right: 15px;
                    }
                }
            }
        }
    }

    .joblist-button {
        position: fixed;
        right: 75px;
        bottom: 75px;
        width: 80px;
        height: 80px;
        padding-left: 15px;
        padding-top: 18px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-radius: 50%;
        box-shadow: 3px 2px 5px 1px $level_4;
        background-color: $selpro_color;

        &.joblist-mainheader {
            position: relative;
            right: 0;
            bottom: 0;
            background-color: unset;
            box-shadow: unset;

            &.faded {
                opacity: 0.75;
            }

            i {
                display: inline-block;
                border-radius: 100px;
                padding: 10px 8px;
                font-size: 30px;
                background-color: $selpro_color;
                min-width: 51px;
                min-height: 50px;
                margin-top: 6px;
                box-shadow: 3px 2px 5px 1px $level_4;
            }
        }

        i {
            color: $level_0;
            -webkit-text-stroke: 1px $level_0;
            font-size: 46px;
            width: 40px;
            height: 40px;
            border-width: 10px;
        }
    }
}
