﻿.commission_final_popup {
    @include popup(1115px, 700px);
}

.help_popup {
    @include popup(1750px, 820px);
}

.backoffice_contest_name_popup {
    @include popup(800px, 500px);

    .popup_content {
        .label_row {
            font-family: SegoeUI;
            font-size: 12px;
            font-weight: 600;
            color: $level_4;
            text-transform: uppercase;
        }
    }
}

.commission_postponement_popup {
    @include popup(1600px, 845px);

    .popup_content {
        overflow-y: auto;
        @include scrollbars(7px, $selpro_color, $level_1);

        .dxbs-memo {
            textarea {
                resize: none;
                min-height: 58px !important;
                max-height: 58px !important;
            }
        }

        .label_row {
            font-family: SegoeUI;
            font-size: 12px;
            font-weight: 600;
            color: $level_4;
            text-transform: uppercase;
        }
    }
}

.insert_condition_popup {
    @include popup(1420px, 850px);
    @include input_checkbox();

    .blazored-modal-content {
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;

        .selpro_popupsection_title {
            h1 {
                font-family: SegoeUI;
                font-size: 22px;
                font-weight: 600;
                color: $selpro_color;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
        }

        .buttons_row {
            float: right;
            text-align: right;
            padding-bottom: 16px;
            padding-top: 40px;
            padding-left: 25px;
            padding-right: 17px;

            button {
                margin-left: 15px;
            }
        }
    }
}

.load_template_popup {
    @include popup(960px, 740px);

    .blazored-modal-content {
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;

        .selpro_popupsection_title {

            h1 {
                font-family: SegoeUI;
                font-size: 22px;
                font-weight: 600;
                color: $selpro_color;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
        }

        .buttons_row {
            float: right;
            text-align: right;
            padding-bottom: 16px;
            padding-top: 40px;
            padding-left: 25px;
            padding-right: 17px;

            button {
                margin-left: 15px;
            }
        }
    }
}

.save_template_popup {
    @include popup(700px, 260px);

    .blazored-modal-content {
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;

        .input_row {
            margin-right: 0;
            margin-left: 0;
            width: 100%;

            .dxbs-textbox {
                width: 100%;
            }
        }

        .buttons_row {
            float: right;
            padding-top: 38px;
            padding-left: 25px;
            padding-right: 0;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            width: auto !important;

            button {
                margin-left: 15px;
            }
        }
    }
}

.renounce_popup {
    @include popup(700px, 330px);

    .blazored-modal-content {
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;

        .dxbs-memo {
            margin-right: 0;
            margin-left: 0;
            width: 100%;

            div > textarea.form-control {
                width: 100%;
                min-height: 90px !important;
            }
        }

        .buttons_row {
            float: right;
            padding-top: 38px;
            padding-left: 25px;
            padding-right: 0;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            width: auto !important;

            button {
                margin-left: 15px;
            }
        }
    }
}

.console_popup {
    @include popup(700px, 480px);

    .blazored-modal-content {
        .container-fluid {
            .dxbs-memo {
                width: 100%;

                textarea {
                    min-height: 60px !important;
                }
            }

            .commission_popup_content {
                .commission_popup_left {
                    padding-top: 16px;
                    padding-left: 29px;
                    padding-right: 13px;
                    max-width: 378px;

                    .commission_popup_image {
                        width: 250px;
                        height: 192px;
                        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
                    }
                }

                .commission_popup_right {
                    padding-top: 16px;
                    padding-left: 12px;
                    padding-right: 13px;
                    max-width: 378px;

                    .container {
                        margin-left: 0;
                        margin-right: 0;
                        padding-left: 0;
                        padding-right: 0;

                        .row {
                            margin-left: 0;
                            margin-right: 0;


                            .badge {
                                &.badge-success {
                                    @include badge("success");
                                }

                                &.badge-danger {
                                    @include badge("danger");
                                }

                                &.badge-secondary {
                                    @include badge("secondary");
                                }

                                &.badge-light {
                                    @include badge("light");
                                }
                            }
                        }

                        label.label_row {
                            font-size: 12px;
                            font-weight: 600;
                            color: rgba($level_4, 0.6);
                            text-transform: uppercase;
                        }

                        .input_row {
                            input {
                                font-size: 16px;
                                font-weight: 400;
                                color: $level_5;
                                background-color: rgba($level_2, 0.1);
                                height: 38px;
                                border-radius: 4px;
                                border: 0;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }

            & > .label_row {
                margin-top: 25px;
                margin-right: 30px;
                margin-left: 30px;
            }

            .input_row {
                margin-right: 30px;
                margin-left: 30px;
                width: 93%;

                .dxbs-textbox {
                    width: 100%;
                }
            }

            .buttons_row {
                float: right;
                padding-top: 38px;
                padding-left: 25px;
                padding-right: 0;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                width: auto !important;

                button {
                    margin-left: 15px;
                }
            }
        }
    }
}

            /*=================================*/
            /*========= POPUP (SASS) ==========*/
            /*=================================*/
            .blazored-modal-wrapper {
                margin-top: -3rem;

                .modal-dialog {
                    min-width: 500px;
                    min-height: 250px;

                    .btn-danger {
                        @include button("danger", "fixed-dialog", "none");
                    }

                    .btn-success {
                        @include button("success", "fixed-dialog", "none");
                    }
                }
            }


.commission_popup {
    min-width: 700px;
    height: 364px;
    padding: 0;
    border: 0;
    overflow-y: initial !important;

    .blazored-modal-header {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom-color: $level_2;
        border-bottom-style: solid;
        border-bottom-width: 1px;

        .blazored-modal-title {
            font-size: 20px;
            font-weight: 600;
            color: #3d3d3d;
        }

        .blazored-modal-close {
            height: 31px;
            margin-top: -22px;

            &:focus {
                outline: 0;
            }
        }
    }

    .blazored-modal-content {
        .container-fluid {
            padding-right: 0;
            padding-left: 0;
            margin-right: 0;
            margin-left: 0;

            & > .row {
                margin-left: 0;
                margin-right: 0;
            }

            .commission_popup_content {
                height: 230px;

                .commission_popup_left {
                    padding-top: 16px;
                    padding-left: 29px;
                    padding-right: 13px;
                    max-width: 292px;

                    .commission_popup_image {
                        width: 250px;
                        height: 192px;
                        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
                    }
                }

                .commission_popup_right {
                    padding-top: 16px;
                    padding-left: 12px;
                    padding-right: 13px;
                    max-width: 383px;

                    .container {
                        margin-left: 0;
                        margin-right: 0;
                        padding-left: 0;
                        padding-right: 0;

                        .row {
                            margin-left: 0;
                            margin-right: 0;

                            .badge {
                                &.badge-success {
                                    @include badge("success");
                                }

                                &.badge-danger {
                                    @include badge("danger");
                                }

                                &.badge-secondary {
                                    @include badge("secondary");
                                }

                                &.badge-light {
                                    @include badge("light");
                                }
                            }
                        }

                        label.label_row {
                            font-size: 12px;
                            font-weight: 600;
                            color: rgba($level_4, 0.6);
                            text-transform: uppercase;
                        }

                        .input_row {
                            input {
                                font-size: 16px;
                                font-weight: 400;
                                color: $level_5;
                                background-color: rgba($level_2, 0.1);
                                height: 38px;
                                border-radius: 4px;
                                border: 0;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }

            .buttons_row {
                float: right;
                text-align: right;
                padding-bottom: 16px;
                padding-top: 16px;
                padding-left: 25px;
                padding-right: 25px;

                button {
                    margin-left: 15px;
                }
            }
        }
    }
}

            .calendars_popup,
            .deferement_popup {
                min-width: 375px;
                padding: 0;
                border: 0;
                overflow-y: initial !important;

                .blazored-modal-header {
                    padding-bottom: 20px;
                    padding-top: 20px;
                    padding-left: 30px;
                    padding-right: 30px;
                    border-bottom-color: $level_2;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                }

                .blazored-modal-title {
                    font-size: 20px;
                    font-weight: 600;
                    color: #3d3d3d;
                }

                .blazored-modal-close {
                    height: 31px;
                    margin-top: -22px;

                    &:focus {
                        outline: 0;
                    }
                }

                .blazored-modal-content {
                    padding-top: 25px;
                    max-height: 770px;
                    overflow-y: auto;

                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                        background-color: #F5F5F5;
                    }

                    &::-webkit-scrollbar {
                        width: 7px;
                        background-color: #F5F5F5;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #ff522c;
                    }

                    .form-group {
                        margin-bottom: 20px;

                        .label_row {
                            padding-left: 25px;
                            font-size: 12px;
                            font-weight: 600;
                            color: #7d7d7d;
                            text-transform: uppercase;
                        }

                        .input_row {
                            padding-left: 25px;
                            padding-right: 25px;

                            &:not(:last-child) {
                                margin-bottom: 20px;
                            }

                            .dxbs-calendar {
                                .dxbs-day.table-active:not(.disabled) {
                                    background-color: #ff522c;

                                    a {
                                        color: #ffffff;
                                    }
                                }

                                .dxbs-day.dxbs-weekend.table-active:not(.disabled) span {
                                    color: #ffffff !important;
                                }

                                .btn-secondary {
                                    @include button("secondary", "micro", "none");
                                }

                                .btn-secondary:nth-child(1) {
                                    display: none;
                                }
                            }

                            .dxbs-combobox {
                                width: 100%;

                                button {
                                    height: 38px;
                                }
                            }

                            .dxbs-textbox {
                                width: 104%;
                                padding-right: 0;
                            }

                            .dxbs-spin-edit {
                                width: 104%;
                                padding-left: 15px;
                                padding-right: 0;
                            }

                            .dxbs-combobox,
                            .dxbs-textbox,
                            .dxbs-spin-edit {
                                input {
                                    font-size: 16px;
                                    font-weight: 400;
                                    color: #495057;
                                    background-color: #ffffff;
                                    height: 38px;

                                    &[readonly] {
                                        background-color: #e9ecef;
                                    }

                                    &:focus {
                                        border-color: rgba(255, 82, 44, 1);
                                        outline: 0;
                                        box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                                    }
                                }

                                button {
                                    color: #495057;
                                    background-color: #ffffff;
                                    border: 0;
                                }
                            }
                        }

                        .input_row.narrow_list {
                            margin-bottom: 0;

                            .single_color_dot {
                                margin-top: -15px;
                                margin-right: 10px;
                            }

                            .num_candidati {
                                color: #888888;
                            }
                        }
                    }

                    .buttons_row {
                        float: right;
                        text-align: right;
                        padding-bottom: 16px;
                        padding-top: 16px;
                        padding-left: 25px;
                        padding-right: 25px;

                        button {
                            margin-left: 15px;
                        }
                    }
                }

                .btn-primary {
                    @include button("primary", "standard", "none");
                }

                .btn-outline-dark {
                    @include button("outline-dark", "standard", "none");
                }
            }
            /*===========================================*/
            /*========= POPUP REGIONI/PROVINCE ==========*/
            /*===========================================*/
.selpro_popup_big {
    min-width: 1120px;
    height: 787px;
    padding: 0;

    &.selpro_popup_bigger {
        min-width: 1760px;
    }

    .blazored-modal-header {
        height: 63px;
        border-bottom-color: #e9ecef;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding: 1rem 1rem;
        padding-left: 27px;

        .blazored-modal-close {
            &:focus {
                outline: 0;
            }

            span {
                bottom: 4px;
                right: 5px;
                position: relative;
            }
        }

        h3 {
            color: #3d3d3d;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.8;
            text-transform: uppercase;
        }

        select {
            width: 160px;
            height: 36px;
            margin-left: 6px;
            margin-top: -2px;
            font-size: 16px;
            font-weight: 400;
            font-weight: 400;
            color: #7d7d7d;
        }
    }


    .modal-body {
        height: 654px;
        padding-left: 37px;
        padding-right: 38px;

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .col:not(:last-child) {
            border: 0;
            border-right-color: #cccccc;
            border-right-style: solid;
            border-right-width: 1px;
        }

        .label_row {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 600;
            color: #7d7d7d;
            text-transform: uppercase;
        }

        .input_row {
            margin-bottom: 20px;

            input {
                font-size: 16px;
                font-weight: 400;
                color: #495057;
                background-color: #ffffff;
                height: 38px;

                &:focus {
                    border-color: rgba(255, 82, 44, 1);
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                }
            }

            button {
                &.btn-secondary {
                    color: #495057;
                    background-color: $level_0;
                    height: 38px;
                    border: 0;
                }
            }
        }


        .dragndrop_header {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #cccccc;
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            color: #3d3d3d;
            text-transform: uppercase;

            .col {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 1px;
                padding-bottom: 5px;
                max-width: 281px;
                text-align: left;
            }

            .dragndrop_orange_text {
                color: #ff522c;

                .dragndrop_column_diff {
                    margin-left: 35px;
                }
            }
        }

        &.selpro_popup_region {
            .dragndrop_body {
                .col {
                    max-width: 281px;

                    .dragndrop_unit {
                        width: 250px;
                        height: 66px;
                    }
                }
            }
        }


        &.selpro_popup_province .dragndrop_body {
            .col {
                /*max-width: 225px;
                min-width: 225px;*/

                &.dx-listbox-scrollable {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .dragndrop_unit {
                    height: 41px;
                    width: 186px;
                }

                li {
                    height: 41px;
                    width: 186px;
                    border-radius: 4px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                    background-color: #fafafa;
                    display: table;
                    margin-bottom: 10px;

                    &:focus {
                        outline: 0;
                    }

                    a {
                        border-radius: 4px;
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 14px;
                        font-weight: 400;
                        color: #3d3d3d;

                        &:focus {
                            outline: 0;
                        }

                        &:hover:before {
                            background-color: #ff522c;
                            border-radius: 4px;
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 12px
                    }
                }
            }
        }



        .dragndrop_body {
            .col {
                @include scrollbars(7px, $selpro_color, $level_1);
                padding-top: 16px;
                max-height: 499px;
                overflow-y: auto;

                &.can-drop {
                    border-width: 2px;
                    border-color: #ff522c;
                    border-style: dashed;
                }

                .dragndrop_unit {
                    border-radius: 4px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                    margin-bottom: 10px;

                    &:not(:last-child) {
                        margin-bottom: 12px
                    }

                    .dragndrop_unit_name {
                        background-color: #fafafa;
                        display: table;
                        height: 100%;
                        padding-right: 8px;

                        span {
                            display: table-cell;
                            vertical-align: middle;
                            font-size: 14px;
                            font-weight: 400;
                            color: #3d3d3d;

                            i {
                                font-size: 13px;
                            }
                        }
                    }

                    .dragndrop_unit_data {
                        text-align: center;
                        display: table;
                        height: 100%;
                        padding-right: 0;
                        padding-left: 0;

                        & > div {
                            display: table-cell;
                            vertical-align: middle;
                        }

                        .dragndrop_unit_data_up {
                            font-size: 20px;
                            font-weight: 700;
                            color: #7d7d7d;
                            line-height: 20px;
                        }

                        .dragndrop_unit_data_down {
                            font-size: 13px;
                            font-weight: 400;
                            color: #7d7d7d;
                        }
                    }
                }
            }
        }
    }


    .modal-footer {
        height: 73px;
        padding-right: 15px;
        border-top: 0;

        .btn-primary {
            @include button("primary", "standard", "none");
        }

        .btn-outline-dark {
            @include button("outline-dark", "standard", "none");
        }
    }
}