﻿/*==================================*/
/*========= WIZARD (SASS) ==========*/
/*==================================*/

.check_in_wizard,
.psychometrics_tests_wizard {
    min-width: 1115px;
    max-width: 1115px;
    padding: 0;
    border: 0;
    overflow-y: initial !important;

    .blazored-modal-header {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom-color: #cccccc;
        border-bottom-style: solid;
        border-bottom-width: 1px;

        .blazored-modal-title {
            font-size: 20px;
            font-weight: 600;
            color: #3d3d3d;
        }

        .blazored-modal-close {
            height: 31px;
            margin-top: -22px;

            &:focus {
                outline: 0;
            }
        }
    }

    .blazored-modal-content {
        padding-top: 25px;
        min-height: 635px;
        max-height: 635px;
        overflow-y: auto;

        form {
            & > .row {
                margin-left: 30px;
                margin-right: 30px;
            }

            .wizard_content {
                height: 479px;

                & > div {
                    padding: 0;
                }

                .wizard_highlight {
                    min-width: 639px;
                    max-width: 639px;
                }

                &.wizard_badge {
                    .wizard_highlight {

                        h5 {
                            font-size: 18px;
                            font-weight: 600;
                            color: $level_5;
                            text-transform: uppercase;
                        }

                        & > .row {
                            margin-left: 17px;
                            margin-right: 0;

                            &:not(:first-child) {
                                margin-top: 53px;
                            }

                            .col-3 {
                                i::before {
                                    font-size: 86px;
                                }
                            }

                            .col-9 {
                                padding-top: 10px;

                                .label_row {
                                    margin-left: 0;
                                    margin-right: 0;
                                    display: block;
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: #7d7d7d;
                                    text-transform: uppercase;
                                }

                                .input_row {
                                    margin-left: 0;
                                    margin-right: 0;
                                    display: block;
                                    width: 250px;

                                    .validation-message {
                                        color: rgba(220, 53, 69, 1);
                                        font-size: 14px;
                                        font-style: italic;
                                    }

                                    .dxbs-combobox {
                                        width: 100%;

                                        button {
                                            height: 38px;
                                        }
                                    }

                                    .dxbs-spin-edit {
                                        /*padding-left: 15px;*/
                                        padding-right: 0;
                                    }

                                    .dxbs-combobox, .dxbs-textbox, .dxbs-date-edit, .dxbs-spin-edit {
                                        input {
                                            font-size: 16px;
                                            font-weight: 400;
                                            color: #495057;
                                            background-color: #ffffff;
                                            height: 38px;

                                            &[readonly] {
                                                background-color: #e9ecef;
                                            }

                                            &:focus {
                                                border-color: rgba(255, 82, 44, 1);
                                                outline: 0;
                                                box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                                            }
                                        }

                                        button {
                                            color: #495057;
                                            background-color: #ffffff;
                                            border: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.wizard_webcam {
                    .wizard_highlight {
                        #videoElement {
                            max-width: 639px;
                            min-width: 639px;
                            height: 492px;
                            max-height: 492px;
                            transform: rotateY(180deg);
                            -webkit-transform: rotateY(180deg);
                            -moz-transform: rotateY(180deg);
                            position: relative;
                            top: -6px;
                            margin-bottom: -17px;
                        }

                        #imgElement {
                            width: 639px;
                            max-height: 492px;
                            display: none;
                        }
                    }
                }

                &.wizard_summary {
                    .wizard_highlight {
                        & > .row {
                            margin-left: 17px;
                            margin-right: 0;
                        }

                        h5 {
                            font-size: 18px;
                            font-weight: 600;
                            color: $level_5;
                            text-transform: uppercase;
                        }

                        .list-group {
                            width: 100%;
                            margin-top: 20px;

                            a.list-group-item {
                                border: 0;
                                padding-left: 0;
                                padding-top: 8px;
                                padding-bottom: 7px;

                                span {
                                    font-size: 22px;
                                    font-weight: 600;
                                    color: $level_5;

                                    &::after {
                                        content: " ";
                                    }

                                    &.green_text {
                                        color: #5dd48d;
                                        text-transform: uppercase;
                                    }

                                    &.red_text {
                                        color: #dc3545;
                                        text-transform: uppercase;
                                    }

                                    &.grey_text {
                                        color: #aaaaaa;
                                        text-transform: uppercase;
                                    }

                                    &.badge {
                                        float: right;
                                        padding-left: 12px;
                                        padding-right: 12px;
                                        font-size: 15px;
                                        line-height: 1;
                                        margin-right: 60px;
                                        color: $level_0;
                                        margin-top: 5px;
                                    }
                                }



                                i.las {
                                    float: right;
                                    font-size: 21px;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }

                .wizard_secondary {
                    margin-left: 21px;
                    padding-left: 21px;
                    border-left-color: #cccccc;
                    border-left-style: solid;
                    border-left-width: 1px;

                    & > .row {
                        margin-right: 0;
                        margin-left: 0;
                    }

                    .wizard_steps {
                        .wizard_steps_local_number {
                            font-size: 18px;
                            font-weight: 600;
                            color: $level_5;
                        }

                        .wizard_steps_totale_number {
                            font-size: 18px;
                            font-weight: 400;
                            color: $level_5;
                        }
                    }

                    hr {
                        margin-top: 8px;
                        margin-bottom: 18px;
                    }

                    .wizard_step_title {
                        h4 {
                            font-size: 22px;
                            font-weight: 600;
                            color: $selpro_color;
                            text-transform: uppercase;
                        }
                    }

                    .wizard_step_description {
                        font-size: 18px;
                        font-weight: 400;
                        color: $level_5;
                        margin-bottom: 45px;
                    }

                    .upload_buttons_row {
                        position: absolute;
                        bottom: 55px;
                    }

                    .psychometrics_dx_upload {
                        position: absolute;
                        bottom: 5px;
                        width: 91%;
                    }

                    .wizard_step_candidate_data {
                        margin-bottom: 25px;

                        .col {
                            padding-left: 0;
                            padding-right: 0;
                        }

                        img {
                            width: 200px;
                            height: 155px;
                            object-fit: cover;
                            object-position: center;
                            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
                        }

                        .resultsentry_field {
                            margin-left: 25px;

                            .label_row {
                                margin-left: 0;
                                margin-right: 0;
                                display: block;
                                font-size: 12px;
                                font-weight: 600;
                                color: $level_4;
                                text-transform: uppercase;
                                margin-bottom: 7px;
                            }

                            .input_row {
                                margin-left: 0;
                                margin-right: 0;
                                margin-bottom: 20px;
                                display: block;

                                .dxbs-combobox, .dxbs-textbox, .dxbs-date-edit, .dxbs-spin-edit {
                                    input {
                                        font-size: 16px;
                                        font-weight: 400;
                                        color: $level_5;
                                        background-color: $level_0;
                                        height: 38px;
                                        border: 0;

                                        &[readonly] {
                                            background-color: $level_1;
                                            /*opacity: 0.1;*/
                                        }

                                        &:focus {
                                            border-color: $selpro_color;
                                            outline: 0;
                                            box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    button {
                        margin-right: 20px;
                    }

                    .sub_field {
                        margin-top: 20px;

                        .row {
                            margin-left: 0;
                            margin-right: 0;

                            .form-check {
                                min-width: 200px;
                            }
                        }
                    }
                }
            }

            .buttons_row {
                width: 100%;
                height: 50px;
                position: relative;
                bottom: -70px;
                margin-left: 0;
                margin-right: 0;
                padding-left: 30px;
                padding-right: 30px;

                .col-3 {
                    padding: 0;
                }

                .buttons_left {
                    button {
                        margin-right: 18px;
                    }
                }

                .buttons_right {
                    text-align: end;

                    button {
                        margin-left: 18px;
                    }
                }

                .btn-primary {
                    @include button("primary", "standard", "glow");
                }

                .btn-outline-dark {
                    @include button("outline-dark", "standard", "none");
                }
            }
        }
    }
}
