﻿/*=================================*/
/*========= TEST CONSOLE ==========*/
/*=================================*/

@mixin transition_fade($x) {
    transition: opacity $x ease-in-out;
    -moz-transition: opacity $x ease-in-out;
    -webkit-transition: opacity $x ease-in-out;
}

.console_finalnote_popup {
    min-width: 400px;
    padding: 0;
    border: 0;
    overflow-y: initial !important;

    .blazored-modal-header {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom-color: #cccccc;
        border-bottom-style: solid;
        border-bottom-width: 1px;

        .blazored-modal-title {
            font-size: 20px;
            font-weight: 600;
            color: #3d3d3d;
            margin-top: 4px;
        }

        .blazored-modal-close {
            span {
                bottom: 2px;
                position: relative;
            }
        }
    }

    .blazored-modal-content {
        padding-top: 25px;
        max-height: 740px;
        overflow-y: auto;

        form {
            .container-fluid {
                width: 100%;
                padding-left: 25px;
                padding-right: 25px;
                margin-right: auto;
                margin-left: auto;

                img {
                    width: 350px;
                    margin-bottom: 30px;
                }

                .form-group {
                    margin-bottom: 30px;

                    .row {
                        margin: 0;

                        &.label_row {
                            font-size: 12px;
                            font-weight: 600;
                            color: #7d7d7d;
                            text-transform: uppercase;
                        }
                    }
                }

                .buttons_row {
                    float: right;
                    text-align: right;
                    padding-bottom: 16px;
                    padding-top: 16px;
                    padding-left: 25px;
                    padding-right: 25px;

                    button {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

.selpro_test_console {
    margin-left: 53px;
    margin-right: 53px;
    margin-bottom: 90px;
    margin-top: 5px;

    .control_desk {
        background-color: $level_4;
        color: $level_0;
        font-size: 18px;
        font-weight: 600;
        height: 45px;
        min-width: 14%;
        max-width: 14%;
        display: table;
        text-align: center;


        span {
            text-transform: uppercase;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .selpro_test_console_grid {
        margin-left: 62px;
        margin-right: 62px;
        margin-top: 30px;
        margin-bottom: 50px;
        row-gap: 45px;

        &.micro {
            margin-bottom: 30px;
        }

        &.femto {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .console_cell {
            border-style: solid;
            border-width: 1px;
            border-color: $level_2;

            &.hole {
                border: 0;
            }

            .console_cell_image {
                border: 0;
                opacity: 0;
                position: relative;
                right: 100%;
                min-width: 100%;
                height: 100%;
                background-color: white;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

                @include transition_fade(0.5s);

                &:hover {
                    opacity: 1;
                }
            }

            .console_cell_data {
                min-width: 100%;
                margin-bottom: 2px;

                .row {
                    margin-left: 0;
                    margin-right: 0;

                    span {
                        margin-left: auto;
                        margin-right: auto;
                        font-weight: 600;
                    }

                    &.console_cell_data_pc {
                        span {
                            color: $level_2;
                            font-size: 18px;
                        }
                    }

                    &.console_cell_data_candiate {
                        span {
                            color: $level_4;
                            font-size: 16px;
                        }
                    }
                }
            }

            &.notlogged,
            &.waiting,
            &.running {
                border-color: $level_2;
                background: $level_0;
            }

            &.logged {
                border-color: $selpro_color;
                background: $level_0;
            }

            &.finished {
                border-color: $green;
                background: rgba($green, 0.2);
            }

            &.problem {
                border-color: $selpro_color;
                background: rgba($selpro_color, 0.2);
            }

            &.endtest {
                .row {
                    &.console_cell_data_pc {
                        span {
                            color: $level_5;
                        }
                    }

                    &.console_cell_data_candiate {
                        span {
                            color: $level_0;
                        }
                    }
                }

                border-color: $green;
                background: rgba($green, 0.9);
            }

            &.closed {

                .row {
                    &.console_cell_data_pc {
                        span {
                            color: $level_5;
                        }
                    }

                    &.console_cell_data_candiate {
                        span {
                            color: $level_5;
                        }
                    }
                }

                border-color: $level_5;
                background: rgba($level_5, 0.2);
            }
        }
    }




    .resultsentry {
        min-height: 160px;
        padding-left: 0;
        padding-right: 0;

        &.resultsentry_insert {
            margin-left: 120px;
            max-width: 625px;
            min-width: 500px;

            .row {
                .resultsentry_content {
                    padding-left: 27px;
                }
            }
        }

        &.resultsentry_reception {
            min-width: 725px;
        }

        .row {
            height: 100%;
            margin: 0;

            .resultsentry_title {
                display: flex;
                align-items: center;
                padding-left: 0;
                padding-right: 0;

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    color: $level_4;
                    text-transform: uppercase;
                }
            }

            .resultsentry_content {
                background-color: $level_1;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-left: 15px;
                padding-right: 20px;
                margin-left: 20px;

                .resultsentry_photo {
                    padding: 0;
                    max-width: 173px;
                    margin-right: 26px;

                    img {
                        width: 172px;
                        height: 131px;
                    }
                }

                & > .row {
                    margin: 0;
                }

                .resultsentry_data {
                    padding-left: 0;
                    padding-right: 0;
                    margin-bottom: 6px;

                    .resultsentry_fields {
                        height: 50%;

                        .col {
                            padding-left: 0;
                            padding-right: 0;

                            &:not(:first-child) {
                                margin-left: 24px;
                            }

                            .resultsentry_field {
                                .label_row {
                                    margin-left: 0;
                                    margin-right: 0;
                                    display: block;
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: $level_4;
                                    text-transform: uppercase;
                                    margin-bottom: 7px;
                                }

                                .input_row {
                                    margin-left: 0;
                                    margin-right: 0;
                                    display: block;

                                    .dxbs-combobox, .dxbs-textbox, .dxbs-date-edit, .dxbs-spin-edit {
                                        input {
                                            font-size: 16px;
                                            font-weight: 400;
                                            color: $level_5;
                                            background-color: $level_0;
                                            height: 38px;

                                            &[readonly] {
                                                background-color: $level_0;
                                                /*opacity: 0.1;*/
                                            }

                                            &:focus {
                                                border-color: $selpro_color;
                                                outline: 0;
                                                box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .resultsentry_button {
                        height: 50%;

                        button {
                            margin-top: 0;
                            box-shadow: 0 6px 10px 0 rgba(255, 102, 36, 0.15);
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}