﻿/*============================================*/
/*========= FLEXIBLE-LIST COMPONENT ==========*/
/*============================================*/

.flexible_list_component_container {
    flex-wrap: wrap !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flexible_list_component {
    @include flexible_list_component();
}