﻿.backoffice {
    .backoffice_medicaldb_entry,
    .backoffice_physicaltest_entry {
        background-color: $level_1;
        box-shadow: 0 4px 20px 0 rgba($level_6, 0.15);
        margin: 35px 53px 35px 53px;
        padding: 25px 25px 25px 25px;

        .backoffice_entry_row {
            margin-right: 25px;
        }

        .backoffice_button_row {
            .col {
                padding-right: 0;
                padding-left: 30px;
            }
        }

        .backoffice_header_row {
            margin-bottom: 20px;
            margin-left: 0;

            h2 {
                font-size: 16px;
                font-weight: 600;
                color: $level_5;
                text-transform: uppercase;
            }
        }
    }

    .dxbs-dropdown-edit,
    .dxbs-spin-edit {
        min-width: 100% !important;
        max-width: 100% !important;

        .input-group {
            min-width: 100% !important;
            max-width: 100% !important;
        }
    }

    .dxbs-textbox {
        min-width: 100%;
    }

    .backoffice_textbox {
        input {
            font-weight: 600;
        }
    }

    .backoffice_memo {
        min-height: 100px !important;

        textarea {
            min-height: 100px !important;
        }
    }

    .generic_label {
        padding-top: 33px;
        font-style: italic;
        font-weight: 600;
    }

    .candidatedetails_subtabs {
        .pagetab_row {
            width: 100%;
        }


        nav.subtabs_container {
            ul.nav-tabs {
                li {
                    a.nav-link {
                        height: 43px !important;
                        margin-top: 7px;
                    }
                }
            }
        }
    }
}
