﻿html {
    body {
        padding-top: 65px;
        font-family: Selawik;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;

        .backoffice_sidebar {
            @include sidebars_panel(350px, 65px, $level_5, $level_0);

            .backoffice_sidebar_link {
                @include sidebars_link(75px, $level_0);
            }
        }

        @include scrollbars(7px, $selpro_color, $level_1);

        @include input_calendar();
        @include input_checkbox();
        @include input_combobox();
        @include input_dateedit();
        @include input_labels();
        @include input_memo();
        @include input_spinedit();
        @include input_textbox();

        @include dataentry();

        .selpro_datagrid {
            @include datagrid("standard");

            &.scroll_enabled {
                overflow-y: auto;
                overflow-x: hidden;
                @include scrollbars(7px, $selpro_color, $level_1);

                .dx-page-size-selector {
                    margin-right: 160px;
                }

                .datagrid_total_records {
                    margin-right: 10px;
                }

                .dxbs-table tbody {
                    max-height: 250px;
                }
            }

            &.selpro_grid_mini {
                @include datagrid("mini");
            }
        }

        .validation_row {
            @include validation();
        }

        .dots {
            @include dots("standard");
        }

        .tooltip {
            opacity: 1.0;

            .tooltip-inner {
                .image_tooltip_data {
                    max-height: 186px;
                    max-width: 186px;
                }
            }
        }
    }

    app {
        height: 100%;

        main {
            .blazored-toast-container {
                z-index: 100;
            }
        }

        .blazored-modal-container {
            z-index: 20001;

            .blazored-modal-overlay {
                z-index: 20002;
            }

            .blazored-modal-wrapper,
            .blazored-modal,
            .modal-dialog {
                z-index: 20003;
            }
        }
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;

        .dismiss {
            cursor: pointer;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
        }
    }


    a.bg-primary {
        background-color: rgb(255, 82, 44) !important;
        color: #ffffff;

        &:active {
            background-color: rgb(255, 82, 44) !important;
            color: #ffffff;
        }

        &:focus {
            background-color: rgb(255, 82, 44) !important;
            color: #ffffff;
        }
    }

    button.dxbs-edit-btn.dropdown-toggle {
        min-width: 27px !important;
        width: 27px !important;
        padding: 0 !important;
    }

    a.btn-primary,
    button.btn-primary {
        @include button("primary", "standard", "glow");
    }

    a.dropdown-item:hover {
        background-color: rgb(251, 78, 40) !important;
        color: #ffffff;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        border-color: #ff522c;
        background-color: #ff522c;
    }

    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
        border-color: #ff522c;
    }

    .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: 0 0 0 0.2rem rgba(255,82,44,0.25);
    }

    .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
        background-color: rgb(255, 212, 202);
    }

    .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
        border-color: #ff522c;
        background-color: #ff522c;
    }

    .custom-checkbox .custom-control-input:indeterminate:focus:not(:checked) ~ .custom-control-label::before {
        border-color: #ff522c;
    }

    .custom-checkbox .custom-control-input:indeterminate:focus ~ .custom-control-label::before {
        box-shadow: 0 0 0 0.2rem rgba(255,82,44,0.25);
    }

    .custom-checkbox .custom-control-input:indeterminate:not(:disabled):active ~ .custom-control-label::before {
        background-color: rgb(255, 212, 202);
    }
}

.splash_title {
    margin-top: 1.5%;

    h1 {
        font-family: SegoeUI;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $selpro_color;
    }
}

.splash_icon_list {
    margin-top: 4%;
    column-gap: 11%;
    row-gap: 45px;
    min-width: 1000px;
    flex-wrap: wrap;

    .splash_single_icon {
        text-align: center;
        max-width: 160px;
        min-width: 160px;
        max-height: 170px;
        min-height: 170px;

        .splash_link {
            width: 100%;
            height: 100%;
            display: inline-block;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;

            &:hover {
                cursor: pointer;
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            img {
                margin-bottom: 20px;
            }

            span {
                position: relative;
                bottom: 0px;
                display: inline-block;
                font-family: SegoeUI;
                font-size: 18px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $level_5;
            }
        }
    }
}