﻿/*===============================*/
/*========= PAGEHEADER ==========*/
/*===============================*/

.blazored-modal-content div.selpro_tabheader {
    margin-top: 0;
}
div.selpro_tabheader {
    margin-top: 42px;
    padding-left: 68px;
    padding-right: 68px;

    .col {
        padding-left: 0;
        padding-right: 0;

        &.selpro_tabheader_title {
            h1 {
                font-size: 18px;
                font-weight: 600;
                color: #3d3d3d;
                display: inline-block;
                height: 22px;
                vertical-align: middle;
                text-transform: uppercase;
            }

            a i {
                color: #aaaaaa;
                font-size: 21px;
                vertical-align: middle;
                padding-bottom: 3px;
                margin-bottom: 5px;
            }
        }

        &.selpro_tabheader_buttons {
            text-align: right;
            margin-top: 5px;

            button {
                &.btn-outline-dark {
                    @include button("outline-dark", "fixed-small", "none");
                    margin-right: 20px;
                    margin-top: -5px;
                }

                &.btn-outline-primary {
                    @include button("outline-primary", "fixed-small", "none");
                    margin-right: 20px;
                    margin-top: -5px;
                }

                &.btn-secondary {
                    @include button("secondary", "fixed-small", "none");
                    margin-right: 20px;
                    margin-top: -5px;
                }

                &.btn-primary {
                    @include button("primary", "fixed-standard", "glow");
                    margin-top: -5px;
                }
            }

            div.checkboxwrapper {
                min-width: 260px;
                max-width: 260px;
                float: right;

                div.dx-blazor-checkbox {
                    div.custom-control.custom-checkbox {
                        float: left;
                    }

                    label.dx-blazor-checkbox-label-right {
                        max-width: none;
                        position: static;
                    }
                }
            }

            .input_row {
                display: inline-block;
                margin-right: 20px;
                margin-left: 0;

                .dxbs-input-group-append {
                    width: 27px;

                    .dxbs-dropdown-toggle {
                        height: 36px;
                        border: 1px solid transparent;
                        border-radius: 0.2rem;
                    }
                }

                input,
                .input-group-append {
                    max-height: 36px;
                }

                .dxbs-combobox {
                    input {
                        font-size: 16px;
                        font-weight: 400;
                        color: #495057;
                        background-color: #ffffff;
                        height: 38px;

                        &:focus {
                            border-color: rgba(255, 82, 44, 1);
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                        }
                    }

                    button {
                        color: #495057;
                        background-color: #ffffff;
                        border: 0;
                        height: 42px !important;
                    }
                }
            }

            .label_row {
                display: inline-block;
                margin-right: 5px;
                margin-left: 0;
            }

            .dx_upload {
                .row.align-items-end {
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 20px;
                }
            }
        }
    }
}

