﻿/*=====================================*/
/*========= EVALUATION ENTRY ==========*/
/*=====================================*/

.evaluation_entry_empty {
    font-family: 'SegoeUI';
    color: rgba(61, 61, 61, 0.6);
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
}

.evaluation_entry_header {
    font-family: 'SegoeUI';
    background-color: $level_1;
    margin-top: 20px;
    margin-bottom: 18px;
    margin-left: 53px;
    margin-right: 53px;
    padding-left: 17px;
    padding-right: 17px;
    height: 160px;

    &.intro, &.available, &.ready {
        border: solid 1px $selpro_color;
    }

    .evaluation_entry_flex {
        width: 100%;

        .evaluation_entry_photo {
            width: 11%;
            min-width: 180px;
            margin-top: 15px;
            margin-bottom: 15px;

            img {
                width: 170px;
                height: 130px;
                object-fit: cover;
                object-position: center;
            }
        }

        .evaluation_entry_candidate_details {
            width: 13%;
            min-width: 210px;
            margin-top: 15px;
            margin-bottom: 15px;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: $level_3;

            .evaluation_entry_candidate_detail_field {
                &:first-child {
                    margin-bottom: 9px;
                }

                .label_row {
                    margin-left: 0;
                    margin-right: 0;
                    display: block;
                    font-size: 12px;
                    font-weight: 600;
                    color: #7d7d7d;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }

                .input_row {
                    margin-left: 0;
                    margin-right: 0;
                    display: block;
                    max-width: 200px;

                    .dxbs-textbox {
                        input {
                            font-size: 16px;
                            font-weight: 400;
                            color: #495057;
                            background-color: #ffffff;
                            height: 38px;

                            &[readonly] {
                                background-color: #e9ecef;
                            }

                            &:focus {
                                border-color: rgba(255, 82, 44, 1);
                                outline: 0;
                                box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                            }
                        }
                    }
                }
            }
        }

        .evaluation_entry_tab_panel {
            width: 40%;
            min-width: 640px;
            margin-top: 25px;
            margin-left: 35px;
            margin-bottom: 1px;

            &.commission_mode {
                width: 70%;
                min-width: 925px;
            }

            .evaluation_entry_tab_header {
                width: 100%;

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                    color: $level_4;
                    text-transform: uppercase;
                }
            }

            .evaluation_entry_tab_main {
                width: 100%;
                margin-top: -3px;
                margin-bottom: 1px;
            }

            .evaluation_entry_tab_tests {
                width: 100%;
            }

            nav.evaluation_entry_tab_main_dx,
            nav.evaluation_entry_tab_tests_dx {
                height: 51px;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) !important;

                ul.nav-tabs {
                    border: 0;

                    li {
                        font-size: 16px;
                        font-weight: 400;
                        margin-right: 28px;

                        &.intro, &.available, &.ready, &.disabled-tablink {
                            cursor: default;
                            pointer-events: none;

                            a.nav-link {
                                text-decoration: none;
                            }
                        }

                        a.nav-link {
                            padding-left: 0;
                            padding-right: 5px;
                            padding-top: 7px;
                            display: inline-block;
                            height: 50px;
                            vertical-align: middle;
                            color: $pagetabs_standard_text_color;
                            border: 0;

                            span.image {
                                font-size: 27px;
                                vertical-align: middle;
                                bottom: 3px;
                                position: relative;

                                .icon-colloqui {
                                    &:before {
                                    }
                                }

                                .icon-listatest {
                                    &:before {
                                    }
                                }

                                .icon-testattitudinali {
                                    &:before {
                                    }
                                }
                            }

                            &.active {
                                background-color: $level_1;
                                box-shadow: 0 3px 0 $selpro_color;
                                font-weight: 600;
                                letter-spacing: -0.36px;
                                color: #3d3d3d;
                                border: 0;
                                border-top-left-radius: 0;
                                border-top-right-radius: 0;
                                padding-top: 7px;
                                display: inline-block;
                                height: 50px;
                                vertical-align: middle;
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }

            nav.evaluation_entry_tab_tests_dx {
                ul.nav-tabs {
                    li {
                        a.nav-link {
                            span {
                                position: relative;
                                top: 7px;
                            }
                        }
                    }
                }
            }
        }

        .evaluation_entry_buttons {
            width: 13%;
            min-width: 230px;
            margin-top: 15px;
            margin-bottom: 16px;
            margin-right: 15px;
            margin-left: auto;
            padding-top: 17px;
            text-align: end;

            .btn-primary {
                @include button("primary", "fixed-standard", "glow");
            }
        }
    }
}

.evaluation_entry_data {
    font-family: 'SegoeUI';
    margin-left: 53px;
    margin-right: 53px;
    margin-bottom: 50px;

    h3 {
        font-size: 18px;
        font-weight: 600;
        color: $level_5;
        text-transform: uppercase;
    }

    .label_row {
        margin-left: 0;
        margin-right: 0;
        display: block;
        font-size: 12px;
        font-weight: 600;
        color: #7d7d7d;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

    .input_row {
        margin-left: 0;
        margin-right: 0;
        display: block;

        label {
            font-size: 16px;
            font-weight: 400;
        }

        .dxbs-textbox {
            input {
                font-size: 16px;
                font-weight: 400;
                color: #495057;
                background-color: #ffffff;
                height: 38px;

                &[readonly] {
                    background-color: #e9ecef;
                }

                &:focus {
                    border-color: rgba(255, 82, 44, 1);
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                }
            }
        }
    }
}

.evaluation_entry_tests {
    .psychometric_tests_notes {
        padding-top: 28px;
        padding-bottom: 28px;
        min-height: 670px;
        max-height: 670px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-5, .psychometric_tests_notes {
        background-color: $level_1;

        h3 {
            margin-top: 28px;
            margin-bottom: 27px;
            margin-left: 18px;
            margin-right: 18px;
        }

        .form-group {
            margin-left: 18px;
            margin-right: 18px;

            .input_row {
                margin-bottom: 27px;

                textarea {
                    height: 125px;
                }
            }
        }

        .buttons_row {
            margin-left: 18px;
            margin-right: 18px;
            margin-bottom: 29px;
            float: right;

            button {
                margin-left: 18px;
            }
        }
    }

    .col-6 {
        padding: 0;

        img, iframe {
            width: 100%;
            border: 0;
            min-height: 670px;
            max-height: 670px;
        }
    }
}

.evaluation_entry_report {
    background-color: $level_1;


    h3 {
        margin-top: 28px;
        margin-bottom: 0;
        margin-left: 18px;
        margin-right: 18px;
        width: 100%;
    }

    .form-group {
        width: 100%;
        margin-left: 18px;
        margin-right: 18px;

        .label_row {
            margin-top: 26px;
        }

        .form-check {
            max-height: 25px;
            padding-left: 0;

            label {
                top: -27px;
            }

            .dx-blazor-checkbox-label-right {
                top: -41px;
            }
        }

        .input_row {
            textarea {
                height: 200px;
            }
        }

        label.custom-control-label {
            margin-top: 26px;
        }
    }

    .buttons_row {
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 30px;
        margin-bottom: 29px;
        text-align: right;
        width: 100%;
        display: block;

        button {

            &:first-child {
                margin-left: 0;
            }

            margin-left: 18px;
        }
    }
}

.evaluation_entry_score {
    background-color: $level_1;

    h3 {
        margin-top: 28px;
        margin-bottom: 27px;
        margin-left: 18px;
        margin-right: 18px;
        width: 100%;
    }

    .d-flex {
        margin-left: 18px;
        margin-right: 18px;
        width: 100%;
        row-gap: 45px;
        column-gap: 2%;

        .evaluation_entry_score_box {
            min-width: 49%;
            max-width: 49%;

            h4 {
                color: $selpro_color;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 17px;
            }

            span {
                color: $level_5;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 15px;
                display: inline-block;
                min-height: 48px;
            }

            .input_row {
                input {
                    margin-bottom: 14px;
                }

                textarea {
                    margin-bottom: 25px;
                    min-height: 90px !important;
                }

                .dxbs-spin-edit {
                    max-width: 100px;

                    .input-group {
                        input {
                            height: 38px;
                        }

                        .dxbs-spin-btn-group {
                            button.dxbs-edit-btn {
                                height: 19px;

                                &.inc {
                                    top: 0;
                                }

                                &.dec {
                                    top: 19px;
                                }

                                span {
                                    margin-bottom: 0 !important;
                                    display: contents;
                                }
                            }
                        }
                    }
                }
            }
        }

        .buttons_row {
            margin-left: 18px;
            margin-right: 18px;
            margin-top: 30px;
            margin-bottom: 29px;
            text-align: right;
            width: 100%;
            display: block;

            button {

                &:first-child {
                    margin-left: 0;
                }

                margin-left: 18px;
            }
        }
    }
}

.dxbs-spin-btn-group .dxbs-edit-btn {
    background-color: unset;
    border: 0;
}

.evaluation_signature_popup {
    min-width: 500px;
    padding: 0;
    border: 0;
    overflow-y: initial !important;

    .blazored-modal-header {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom-color: $level_2;
        border-bottom-style: solid;
        border-bottom-width: 1px;

        .blazored-modal-title {
            font-size: 20px;
            font-weight: 600;
            color: $level_5;
        }

        .blazored-modal-close {
            height: 31px;
            margin-top: -22px;

            &:focus {
                outline: 0;
            }
        }
    }

    .blazored-modal-content {
        padding-top: 27px;
        max-height: 740px;
        overflow-y: auto;

        .text_row {
            padding-left: 30px;
            padding-right: 30px;

            span {
                font-family: SegoeUI;
                font-size: 16px;
                font-weight: 400;
                color: $level_5;
            }
        }

        .buttons_row {
            float: right;
            text-align: right;
            padding-bottom: 16px;
            padding-top: 27px;
            padding-left: 25px;
            padding-right: 25px;

            button {
                margin-left: 15px;
            }
        }
    }
}