﻿/*=============================*/
/*========= OVERVIEW ==========*/
/*=============================*/

.suboverview_tablecell_data.suboverview_highlight_orange {
    color: #ff522c;
}

.suboverview_tablecell_data.suboverview_highlight_green {
    color: #5dd48d;
}

.suboverview {
    background-color: #f6f6f6;
    margin-left: 50px;
    margin-right: 50px;
}

.suboverview_tablecell {
    padding: 0;
    margin-bottom: 18px;
    margin-top: 19px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 185px;
}

.col.suboverview_tablecell:first-child {
    margin-left: 45px;
}

.col.suboverview_tablecell:nth-child(n+2) {
    border-left-color: #aeaeae;
    border-left-width: 1px;
    border-left-style: solid;
}

.col.suboverview_tablecell:last-child {
    margin-right: 45px;
    max-width: 100%;
}

.col.suboverview_tablecell.suboverview_tablecell_orangeline {
    border-left-color: #ff522c;
    border-left-width: 3px;
    border-left-style: solid;
}

.suboverview_tablecell_title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #7d7d7d;
    border-bottom-color: #aeaeae;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

.suboverview_tablecell_data {
    font-size: 28px;
    font-weight: 700;
    color: #3d3d3d;
    line-height: 35px;
}
