﻿/*================================*/
/*================================*/
/*========= MAIN HEADER ==========*/
/*================================*/
/*================================*/


/*=========================*/
/*========= MENU ==========*/
/*=========================*/

html {
    .navbar {
        background-color: $level_0;
        height: 65px;
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
        padding: 0;
        /*============================*/
        /*========= NEWMENU ==========*/
        /*============================*/
        .selpro_menu {
            height: 65px;
            max-width: 65px;
            margin: 0;

            button.btn-primary.dropdown-toggle {
                &,
                &:hover,
                &:active {
                    width: 65px;
                    height: 65px;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    outline: 0 !important;
                    box-shadow: none !important;
                    color: $level_0;
                    background-color: $selpro_color;
                }

                &:hover {
                    background-color: rgba($selpro_color, 0.85);
                }

                &::after {
                    display: none;
                }

                span {
                    display: block;
                    width: 100%;
                    height: 100%;

                    &::before {
                        width: 31px;
                        height: 31px;
                        font-size: 31px;
                        margin: 17px;
                        color: $level_0;
                    }
                }
            }

            .dropdown-menu {
                animation: fadeIn 0.25s;
                border: 0;
                width: 610px;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 25px;
                padding-bottom: 25px;
                box-shadow: 0 4px 8px rgba($level_6, 0.3);
                -webkit-box-shadow: 0 4px 8px rgba($level_6, 0.3);

                .dropdown-menu-list {
                    flex-direction: row;
                    -ms-flex-direction: row;
                    display: -ms-flexbox;
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 25px;
                    column-gap: 0;

                    .popover-link {
                        padding: 0;
                        text-align: center;
                        border: 0;
                        width: 145px;
                        color: $level_5;
                        font-size: 0.8rem;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;


                        &:hover {
                            cursor: pointer;
                            color: $level_5;
                            text-decoration: none;
                            -webkit-transform: scale(1.05);
                            transform: scale(1.05);
                        }

                        img {
                            width: 71px;
                            height: 71px;
                            margin-bottom: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}




.navbar-brand {
    height: 65px !important;
    max-width: 65px !important;
    margin: 0;

    &.backoffice_button {
        width: 65px;
        height: 65px;

        a {
            span {
                &::before {
                    width: 31px;
                    height: 31px;
                    margin: 17px;
                    color: $level_4;
                }
            }
        }

        &.backoffice_button_open {
            a {
                span {
                    &::before {
                        color: $selpro_color;
                    }
                }
            }
        }
    }

    & > .btn-toolbar {
        height: 65px;
        width: 65px;
        padding: 0;

        & > .btn-group {
            margin-right: 0 !important;
        }
    }
}


/*==========================*/
/*========= TITLE ==========*/
/*==========================*/

.navbar-logo {
    left: 50%;
    transform: translateX(calc(-50% - 65px));
    position: absolute;
    height: unset !important;
    max-width: none !important;

    a:hover {
        text-decoration: none;
    }

    span {
        font-size: 16px;
        font-weight: 600;
        color: $level_5;
        text-transform: uppercase;
        margin-top: 16px;
        margin-left: 12px;
        padding-left: 15px;
        padding-top: 1px;
        padding-bottom: 1px;
        display: inline-block;
        border-left-width: 2px;
        border-left-color: $level_5;
        border-left-style: solid;
    }
}


/*==============================*/
/*========= USER ICON ==========*/
/*==============================*/

.navbar-user {
    margin-left: 20px;

    li a {
        height: 65px;

        div {
            & > div {
                margin-top: 12px;
            }

            & > .la-user {
                display: inline-block;
                border-radius: 100px;
                padding: 0.4rem 0.4rem;
                font-size: 1.7rem;
                background-color: $level_1;
                margin-right: 19px;
                margin-left: 21px;
                margin-top: 4px;
            }
        }
    }
}

.navbar-version {
    min-width: 65px;
    height: 65px;
    margin-left: 30px;

    .nav-item {
        margin-top: 10px;
        text-align: end;

        span {
            color: $level_6;
        }
    }
}

.navbar-joblist {
    min-width: 65px;
    height: 65px;
    margin-left: 30px;
}

.navbar-centralspacer {
    min-width: 65px;
    height: 65px;
    margin-left: auto;
}


/*==============================*/
/*========= LINK BACK ==========*/
/*==============================*/

.navbar-back li a {
    height: 65px;

    div {
        & > div {
            margin-top: 12px;
        }

        & > .la-arrow-left {
            display: inline-block;
            padding: 0;
            font-size: 2.25rem;
            margin-right: 15px;
            margin-left: 25px;
            margin-top: 7px;
        }
    }
}
