﻿/*=============================*/
/*========= CALENDAR ==========*/
/*=============================*/

.calendar-type {
    padding-left: 53px;
    padding-right: 53px;

    .col-1 {
        max-width: 95px;
        padding-top: 10px;
        span {
            color: $level_6;
        }
    }
}

.calendars {
    padding-left: 68px;
    padding-right: 68px;
    margin-top: 25px;
    margin-bottom: 90px;

    &.active {
        display: flex !important;
    }

    & > .col:nth-child(1) {
        margin-right: 65px
    }

    & > .col:nth-child(2) {
        margin-left: 65px
    }

    .calendar_table {
        .row {
            height: 39px;

            &:last-child {
                border-bottom: $cell_border;
            }

            .col.column_place {
                overflow-x: hidden;
            }
        }

        .month_row {
            height: 40px;
            margin-bottom: 10px;

            .col {
                text-align: center;
            }

            .column_datenumber {
                padding: 0;

                a {
                    &,
                    &:link,
                    &:hover,
                    &:active,
                    &:visited {
                        background-color: $selpro_color;
                        color: #ffffff;
                        width: 36px;
                        height: 36px;
                        padding-top: 6px;
                        font-size: 24px;
                        border-radius: 5px;
                        text-decoration: none;
                    }

                    &:active {
                        border-color: rgba(255, 82, 44, 1);
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                    }
                }

                i {
                    background-color: #cbcbcb;
                    color: #ffffff;
                    width: 36px;
                    height: 36px;
                    padding-top: 6px;
                    font-size: 24px;
                    border-radius: 5px;
                    text-decoration: none;
                }
            }
        }

        .site_row {
            .col {
                text-align: center;
            }
        }

        .data_row {
            & ~ .data_row .red_cell,
            & ~ .data_row .grey_cell {
                height: 38px;
            }

            &.orange_row {
                background-color: $warning_cell_background !important;

                .column_dayoftheweek {
                    a, span {
                        color: $warining_text;
                    }
                }
            }

            &.grey_row {
                background-color: $disabled_cell_background !important;
            }

            .col {
                text-align: center;
                border-right: $cell_border;
                height: 39px;
                line-height: 39px;
            }

            .column_dayoftheweek {
                line-height: 36px;
            }

            .red_cell {
                background-color: $woman_cell_background !important;
                height: 39px;
            }

            .grey_cell {
                background-color: $disabled_cell_background !important;
                height: 39px;
            }

            .orange_outline_cell {
                outline: 2px dashed $selpro_color;
                outline-offset: -3px;
            }

            .column_others_dots {
                background-color: $dots_cell_background;
                font-size: 32px;
                padding-left: 0;
                padding-right: 0;
                min-width: 100px;
                max-width: 100px;
                line-height: 32px !important;
                height: 39px !important;

                a {
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    height: 100%;
                    display: block;

                    &:hover {
                        text-decoration: none;
                        font-size: 34px;
                        line-height: 30px;

                        .dot_number {
                            text-decoration: none;
                            font-size: 23px;
                            line-height: 23px;
                        }
                    }

                    .dot_number {
                        color: $level_6;
                        font-size: 22px;
                    }
                }
            }
        }

        & > .data_row {
            border-top: 0;

            & ~ .data_row {
                border-top: $cell_border;
            }
        }
    }
}

    .column_month {
        font-size: 22px;
        font-weight: 600;
        color: $warining_text;
    }

.column_place {
    &:hover {
        a {
            text-decoration: underline;
            color: $warining_text;
        }
    }

    a, span {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        color: $light_text;
    }
}

    .column_datenumber {
        max-width: 36px;
        min-width: 36px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        font-weight: 600;
        color: $dark_text;
    }

    .column_dayoftheweek {
        min-width: 90px;
        text-align: left !important;

        a, span {
            font-size: 12px;
            font-weight: 600;
            color: $dark_text;
            text-transform: uppercase;
        }

        a {
            &:hover {
                text-decoration: underline;
                color: $warining_text;
            }
        }
    }



.column_availability {

    span.assigned {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        vertical-align: bottom;
        line-height: 39px;
    }

    span,
    a {
        font-size: 14px;
        font-weight: 300;
        color: $light_text;
        line-height: 36px;
    }
}


.data_row ~ .data_row .column_others_dots {
    height: 38px !important;
}





    .single_color_dot {
        font-size: 32px;
    }

    .column_others_header {
        min-width: 100px;
        max-width: 100px;
    }

    .calendar_blue_dot {
        color: #35a0dc;
    }

    .calendar_red_dot {
        color: #df6038;
    }

    .calendar_yellow_dot {
        color: #deb72b;
    }

    .calendar_green_dot {
        color: #8ab554;
    }

    .assigned_orange {
        color: $warining_text !important;
    }


