﻿/*======================================*/
/*========= CANDIDATE DETAILS ==========*/
/*======================================*/



.candidatedetails_subtabs {
    @include subtabs_simple();
}

.candidate_details_report_list {

    .btn-primary {
        @include button("primary", "fixed-standard", "glow");
    }

    .btn-secondary {
        @include button("secondary", "fixed-standard", "glow");
    }

    .btn-outline-dark {
        @include button("transparent-outline-dark", "fixed-standard", "none");
    }

    margin-top: 45px;
    margin-bottom: 120px;

    .candidate_details_report_block {
        background-color: $level_1;
        margin-left: 68px;
        margin-right: 68px;
        margin-bottom: 25px;
        padding-top: 25px;
        padding-bottom: 35px;
        padding-left: 35px;
        padding-right: 35px;
        width: 100%;

        .title_row {
            h3 {
                color: $selpro_color;
                font-family: SegoeUI;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .middle_row {
            margin-top: 10px;
            margin-bottom: 15px;

            span {
                color: $level_5;
                font-family: SegoeUI;
                font-size: 18px;
                font-weight: 400;
                text-align: left;
            }

            .button_row {
                margin-left: auto;
                margin-right: 0;

                button {
                    margin-left: 28px;
                }
            }
        }

        .label_row {
            color: $level_4;
            font-family: SegoeUI;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .input_row {
            textarea {
                height: 102px;
                border-radius: 4px;
                border: solid 1px $level_2;
                background-color: $level_0;
                width: 100%;
            }
        }
    }
}

.candidate_investigations {
    font-family: SegoeUI;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    margin-top: 23px;
    margin-left: 53px;
    margin-right: 53px;

    &.verbali_accertamenti {
        .col .candidate_investigations_section_content .input_row textarea {
            resize: vertical;
            height: 80px;
        }
    }

    &:first-child {
    }

    & > h1,
    & > .col-12.row > .col > h1 {
        font-size: 18px;
        font-weight: 600;
        color: $level_5;
        display: inline-block;
        height: 22px;
        vertical-align: middle;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 15px;
        margin-left: 25px;
    }

    .col {
        margin-left: 25px;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;


        &:first-child {
            margin-left: 0;
        }

        .candidate_investigations_section_title {
            margin-right: 0;
            margin-left: 0;
            margin-top: 35px;
            padding-bottom: 11px;
            border-bottom-color: $level_2;
            border-bottom-width: 1px;
            border-bottom-style: solid;

            &:first-child {
                margin-top: 0;
            }

            .col-3, .col-9 {
                padding-right: 0;
                padding-left: 0;
            }

            h3 {
                font-size: 16px;
                font-weight: 600;
                text-align: left;
                color: $selpro_color;
                text-transform: uppercase;

                &.black {
                    font-size: 18px;
                    font-weight: 600;
                    text-align: left;
                    color: $level_5;
                }
            }
        }

        .candidate_investigations_section_subtitle {
            margin-right: 0;
            margin-left: 0;

            h4 {
                font-size: 16px;
                font-weight: 600;
                letter-spacing: normal;
                text-align: left;
                color: $level_4;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }

        .candidate_investigations_section_content {
            font-size: 16px;
            text-align: left;
            margin-left: 0;
            margin-right: 0;
            margin-top: 22px;
            margin-bottom: 22px;
            color: $level_6;

            .full_line {
                width: 100%;
                min-width: 100%;
                max-width: 100%;

                .dxbs-textbox {
                    width: 100%;
                    min-width: 100%;
                    max-width: 100%;
                }
            }

            .dxbs-spin-edit,
            .dxbs-textbox,
            .dxbs-dropdown-edit,
            .ophthalmology_textbox {
                width: 129px;
                max-width: 129px;

                .input-group {
                    width: 129px;
                }
            }

            .note_textarea {
                textarea {
                    min-height: 62px !important;
                }
            }

            div {
                .row {
                    margin-left: 0;
                    margin-right: 0;
                }

                .label_row {
                    font-size: 12px;
                    font-weight: 600;
                    text-align: left;
                    color: $level_4;
                    text-transform: uppercase;
                }
            }

            .long_checkbox {
                .custom-checkbox {
                    /*top: -22px;*/
                }

                .dx-blazor-checkbox-label-right {
                    width: 96%;
                }
            }

            .input_row {
                textarea {
                    font-size: 16px;
                    font-weight: 400;
                    color: $level_5;
                    border-radius: 3px;
                    border-color: $level_2;
                    background-color: $level_0;
                    resize: none;

                    &[readonly] {
                        background-color: rgba($level_3, 0.1);
                    }

                    &:focus {
                        border-color: rgba($selpro_color, 1);
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                    }
                }
            }

            i.icon-add {
                color: $level_5;
                font-size: 29px;
                position: relative;
                top: -6px;
            }

            i.icon-trash {
                &::before {
                    font-size: 29px !important;
                }

                color: $level_5;
                font-size: 29px !important;
                position: relative;
                top: -6px;
            }

            .col-6:first-child {
                padding-left: 0;
            }

            .col-6:nth-child(2) {
                padding-right: 0;
            }

            .dental_upper {
                height: 31px;

                .dental_left,
                .dental_right {
                    height: 31px;
                    border-bottom-color: $level_3;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                }
            }

            .dental_lower {
                height: 31px;

                .dental_left,
                .dental_right {
                    padding-top: 6px;
                    height: 31px;
                }
            }


            .dental_left {
                border-right-color: $level_3;
                border-right-style: solid;
                border-right-width: 1px;
            }
        }
    }

    .psychiatry_fields {
        background-color: $level_1;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 35px;
        padding-right: 35px;
    }
}

.candidate_details_requests_list {

    .btn-primary {
        @include button("primary", "fixed-standard", "glow");
    }

    .btn-outline-primary {
        @include button("outline-primary", "fixed-standard", "none");
    }

    margin-top: 45px;
    margin-bottom: 120px;

    button.add_request {
        margin-left: auto;
        margin-right: 68px;
    }

    .candidate_details_request_block {
        background-color: $level_1;
        margin-left: 68px;
        margin-right: 68px;
        margin-bottom: 25px;
        padding-top: 25px;
        padding-bottom: 35px;
        padding-left: 35px;
        padding-right: 35px;
        width: 100%;


        button {
            position: relative;
            bottom: 40px;
            left: 91.3%;
        }

        .label_row {
            color: $level_4;
            font-family: SegoeUI;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .input_row {
            textarea {
                height: 102px;
                border-radius: 4px;
                border: solid 1px $level_2;
                background-color: $level_0;
                width: 100%;

                &[readonly],
                &[disabled] {
                    background-color: rgba($level_2, 0.1);
                }
            }

            .dxbs-textbox {
                width: 88%;

                input {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 400;
                    color: $level_5;
                    background-color: $level_0;
                    height: 38px;
                    border-radius: 4px;
                    border: solid 1px $level_2;
                    background-color: $level_0;

                    &[readonly],
                    &[disabled] {
                        background-color: rgba($level_2, 0.1);
                    }

                    &:focus {
                        border-color: rgba($selpro_color, 1);
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba($selpro_color, 0.25);
                    }
                }

                button {
                    color: #495057;
                    background-color: #ffffff;
                    border: 0;
                }
            }
        }
    }
}






.candidate_details_attachment_block {
    background-color: #f6f6f6;
    margin-left: 53px;
    margin-right: 68px;
    margin-bottom: 25px;
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
    width: 95%;

    &.block_embedded {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    button {
        position: relative;
        top: 19px;

        &.add_attachment {
            margin-left: auto;
            margin-right: 68px;
        }

        &.btn-outline-primary {
            left: 90%;
        }

        &.upload {
            left: 79%;
        }

        &.btn-outline-dark {
            left: 79%;
        }
    }

    .label_row {
        color: $level_4;
        font-family: SegoeUI;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .input_row {
        margin-right: 0;
        margin-left: 0;

        .dxbs-textbox {
            width: 100%;

            input {
                width: 100%;
                font-size: 16px;
                font-weight: 400;
                color: $level_5;
                background-color: $level_0;
                height: 38px;
                border-radius: 4px;
                border: solid 1px $level_2;
                background-color: $level_0;

                &[readonly],
                &[disabled] {
                    background-color: rgba($level_2, 0.1);
                }

                &:focus {
                    border-color: rgba($selpro_color, 1);
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba($selpro_color, 0.25);
                }
            }

            button {
                color: #495057;
                background-color: #ffffff;
                border: 0;
            }
        }
    }

    .btn-primary {
        @include button("primary", "fixed-standard", "glow");
    }

    .btn-outline-primary {
        @include button("outline-primary", "fixed-standard", "none");
    }

    .btn-outline-dark {
        @include button("transparent-outline-dark", "fixed-standard", "none");
    }
}