﻿/*=============================*/
/*========= OVERVIEW ==========*/
/*=============================*/

.overview {
    background-color: $level_1;
    padding-left: 65px;
}

#overview_title {
    height: 58px;

    h2 {
        font-size: 16px;
        font-weight: 600;
        color: #3d3d3d;
        padding-top: 21px;
        margin-bottom: 18px;
        text-transform: uppercase;
    }

    .col-1 {
        text-align: right;
        padding-right: 35px;

        i {
            font-size: 25px;
            font-weight: 600;
            color: #3d3d3d;
            padding-top: 21px;
            margin-bottom: 18px;
        }
    }
}

#overview_table {
    padding-right: 65px;

    .overview_tablecell {
        padding: 0;
        margin-bottom: 24px;
        padding-left: 0;
        padding-right: 0;

        &:nth-child(n+2) {
            border-left-color: #aeaeae;
            border-left-width: 1px;
            border-left-style: solid;
        }

        &.overview_tablecell_total {
            border-left-color: $selpro_color;
            border-left-width: 3px;
            border-left-style: solid;
        }

        &.overview_tablecell_total {
            .overview_tablecell_title {
                color: $selpro_color;
            }
        }

        &.overview_tablecell_total_title_only {
            .overview_tablecell_title {
                opacity: 0.5;
            }
        }

        &.overview_tablecell_total_line_only {
            border-left-color: $selpro_color;
            border-left-width: 3px;
            border-left-style: solid;
        }

        & > .row {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .overview_tablecell_image {
            max-width: 135px;
            margin-right: 15px;


            img {
                object-fit: cover;
                width: 103px;
                height: 103px;
                margin-top: 15px;
                box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
            }
        }

        .overview_tablecell_header {
            border-bottom-color: #aeaeae;
            border-bottom-width: 1px;
            border-bottom-style: solid;

            .overview_tablecell_title {
                font-size: 22px;
                font-weight: 600;
                color: $level_4;
                padding-bottom: 5px;
                padding-left: 15px;
                text-transform: uppercase;

                .darker_title {
                    color: $level_5;
                }

                &.orange_title {
                    color: $selpro_color;
                }

                &.light_title {
                    opacity: 0.5;
                }
            }

            .overview_tablecell_edit {
                margin-left: auto;
                padding-left: 15px;
                padding-right: 15px;
                font-size: 22px;
                font-weight: 600;
                color: $level_4;
                padding-bottom: 5px;
                padding-left: 15px;
                text-align: right;

                a {
                    color: $level_4;

                    &:hover {
                        text-decoration: none;
                        font-size: 23px;
                        line-height: 24px;
                    }
                }
            }
        }

        .overview_tablecell_lower {
            margin-top: 11px;
            padding-left: 15px;
            padding-right: 15px;

            .overview_tablecell_subtitle {
                font-size: 12px;
                font-weight: 400;
                color: $level_4;
                text-transform: uppercase;
            }

            .overview_tablecell_data {
                font-size: 28px;
                font-weight: 700;
                color: $level_5;
                margin-bottom: 11px;
                line-height: 35px;

                .little {
                    font-size: 22px;
                }

                a {
                    color: $level_5;
                    /*&:hover {
                        text-decoration: none;
                        font-size: 29px;
                        line-height: 30px;
                    }*/
                    i {
                        top: 6px;
                        margin-left: 5px;
                        position: absolute;
                    }
                }

                .btn-overview {
                    &.btn-primary {
                        @include button("primary", "fixed-overview", "none");
                    }

                    &.btn-secondary {
                        @include button("secondary", "fixed-overview", "none");
                    }

                    &.btn-success {
                        @include button("success", "fixed-overview", "none");
                    }

                    &.btn-outline-success {
                        @include button("outline-success", "fixed-overview", "none");
                    }
                }

                .dxbs-combobox {
                    width: 84%;

                    input {
                        font-size: 16px;
                        font-weight: 400;
                        color: #495057;
                        background-color: #ffffff !important;
                        height: 38px;

                        &[readonly] {
                            background-color: #e9ecef;
                        }

                        &:focus {
                            border-color: rgba(255, 82, 44, 1);
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                        }
                    }

                    button {
                        height: 38px;
                        color: #495057;
                        background-color: #ffffff;
                        border: 0;
                    }
                }

                .boolean_tag {
                    font-size: 15px;
                    font-weight: 400;
                    color: $level_0;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 2px;
                    padding-bottom: 4px;
                    border-radius: 4px;
                    box-shadow: 0 6px 10px 0 rgba(255, 102, 36, 0.2);
                    background-color: $level_4;

                    &.orange_tag {
                        background-color: $selpro_color;
                    }
                }

                &.highlight_orange {
                    color: $selpro_color;
                }

                &.highlight_green {
                    color: $green;
                }

                &.highlight_grey {
                    color: $level_4;
                }

                &.highlight_red {
                    color: $red;
                }
            }
        }
    }
}
