﻿@mixin font_icon_size($size) {
    font-size: $size;
    position: relative;
}

html {
    .icon-fotina:before {
        @include font_icon_size(24px);
    }

    .icon-guarda:before {
        @include font_icon_size(24px);
    }

    .icon-home:before {
        @include font_icon_size(24px);
        bottom: 1px;
    }

    .icon-import:before {
        @include font_icon_size(23px);
    }

    .icon-ingara:before {
        @include font_icon_size(23px);
        bottom: 1px;
    }

    .icon-listatest:before {
        @include font_icon_size(24px);
    }

    .icon-menu:before {
        @include font_icon_size(24px);
    }

    .icon-ok:before {
        @include font_icon_size(24px);
    }

    .icon-pettorina:before {
        @include font_icon_size(24px);
    }

    .icon-reload:before {
        @include font_icon_size(24px);
    }

    .icon-scan:before {
        @include font_icon_size(24px);
    }

    .icon-testattitudinali:before {
        @include font_icon_size(24px);
    }

    .icon-testaula:before {
        @include font_icon_size(24px);
    }

    .icon-testconclusi:before {
        @include font_icon_size(24px);
    }

    .icon-testfisici:before {
        @include font_icon_size(24px);
    }

    .icon-trash:before {
        @include font_icon_size(24px);
    }

    .icon-addfile:before {
        @include font_icon_size(24px);
    }

    .icon-appuntamenti:before {
        @include font_icon_size(24px);
    }

    .icon-archivio:before {
        @include font_icon_size(20px);
        bottom: 2px;
        margin-right: 13px;
    }

    .icon-arrowleft:before {
        @include font_icon_size(24px);
    }

    .icon-arrowright:before {
        @include font_icon_size(24px);
    }

    .icon-attivi:before {
        @include font_icon_size(23px);
    }

    .icon-calendarwarning:before {
        @include font_icon_size(24px);
    }

    .icon-card:before {
        @include font_icon_size(24px);
    }

    .icon-chip:before {
        @include font_icon_size(24px);
    }

    .icon-colloqui:before {
        @include font_icon_size(24px);
    }

    .icon-docmedica:before {
        @include font_icon_size(24px);
    }

    .icon-edit:before {
        @include font_icon_size(24px);
    }
}