﻿$spinner_background: rgba(255, 255, 255, 0.85);
$selpro_color: rgba(255, 82, 44, 1);

.selpro-spinner-overlay {
    z-index: 29999;
    background-color: $spinner_background;
    position: fixed;
    width: 100%;
    height: 100%;
}

.selpro-spinner {
    z-index: 30000;
    top: 50%;
    width: 100%;
    position: fixed;


    .spinner-border {
        color: $selpro_color;
        width: 4rem;
        height: 4rem;
        border-width: 1rem;
    }
}