﻿/*===================================================*/
/*========= COMMISSION SIGNATURE DIRECTORY ==========*/
/*===================================================*/


.commission_signature_directory_header {
    margin-left: 53px;
    margin-right: 53px;
    background-color: $level_1;
    padding-left: 35px;


    nav.commission_signature_directory_tabs {
        margin-right: 53px;
        height: 51px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) !important;

        ul.nav-tabs {
            border: 0;

            li {
                font-size: 16px;
                font-weight: 400;
                margin-right: 28px;

                &.intro, &.available, &.ready {
                    cursor: default;
                    pointer-events: none;

                    a.nav-link {
                        text-decoration: none;
                    }
                }

                a.nav-link {
                    padding-left: 0;
                    padding-right: 5px;
                    padding-top: 7px;
                    display: inline-block;
                    height: 50px;
                    vertical-align: middle;
                    color: $pagetabs_standard_text_color;
                    border: 0;

                    span.image {
                        font-size: 27px;
                        vertical-align: middle;
                        bottom: 3px;
                        position: relative;

                        .icon-colloqui {
                            &:before {
                            }
                        }

                        .icon-listatest {
                            &:before {
                            }
                        }

                        .icon-testattitudinali {
                            &:before {
                            }
                        }
                    }

                    &.active {
                        background-color: rgba($level_1, 0.0);
                        box-shadow: 0 3px 0 $selpro_color;
                        font-weight: 600;
                        letter-spacing: -0.36px;
                        color: #3d3d3d;
                        border: 0;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        padding-top: 7px;
                        display: inline-block;
                        height: 50px;
                        vertical-align: middle;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.signature_directory_popup {
    min-width: 498px;
    min-height: 195px;
    max-height: 300px;
    padding: 0;
    border: 0;
    overflow-y: initial !important;

    .blazored-modal-header {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-bottom-color: $level_2;
        border-bottom-style: solid;
        border-bottom-width: 1px;

        .blazored-modal-title {
            font-size: 20px;
            font-weight: 600;
            color: #3d3d3d;
        }

        .blazored-modal-close {
            height: 31px;
            margin-top: -22px;

            &:focus {
                outline: 0;
            }
        }
    }


    .blazored-modal-content {
        .container-fluid {
            padding-top: 15px;
            padding-left: 28px;

            warning_text {
            }

            label.label_row {
                margin-top: 30px;
                margin-left: 0;
                font-size: 12px;
                font-weight: 600;
                color: rgba($level_4, 0.6);
                text-transform: uppercase;
            }

            .input_row {
                margin-left: 0;

                input {
                    max-width: 250px;
                }

                .dxbs-combobox, .dxbs-textbox, .dxbs-date-edit, .dxbs-spin-edit {
                    width: unset;

                    input {
                        font-size: 16px;
                        font-weight: 400;
                        color: #495057;
                        background-color: #ffffff;
                        height: 38px;
                        max-width: 250px;
                        min-width: 250px;
                        width: 250px !important;

                        &[readonly] {
                            background-color: #e9ecef;
                        }

                        &:focus {
                            border-color: rgba(255, 82, 44, 1);
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                        }
                    }

                    button {
                        color: #495057;
                        background-color: #ffffff;
                        border: 0;
                    }
                }
            }

            .buttons_row {
                margin-top: 12px;
                float: right;
                text-align: right;
                padding-bottom: 16px;
                padding-top: 16px;
                padding-left: 25px;
                padding-right: 25px;

                button {
                    margin-left: 15px;
                }
            }
        }
    }
}