﻿/*===============================*/
/*========= MASTERDATA ==========*/
/*===============================*/

.masterdata {
    margin-left: 80px;
    margin-right: 80px;

    .form-group {
        margin-top: 20px;

        & > .row {
            margin-left: 0;
            margin-right: 0;

            &:not(:first-child) {
                margin-top: 80px;
            }

            h4 {
                color: $selpro_color;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .form-row {
            margin-bottom: 22px;
            margin-left: 0;
            margin-right: 0;

            & > .masterdata_field {
                margin-right: 30px;

                &#masterdata_surname {
                    width: 270px;
                }

                &#masterdata_name {
                    width: 270px;
                }

                &#masterdata_birthdate {
                    width: 170px;
                }

                &#masterdata_birthprovince {
                    width: 150px;
                }

                &#masterdata_birthcity {
                    width: 250px;
                }

                &#masterdata_cf {
                    width: 250px;
                }

                &#masterdata_phone {
                    width: 250px;
                }

                &#masterdata_email {
                    width: 270px;
                }

                &#masterdata_homeaddress {
                    width: 270px;
                }

                &#masterdata_homepostalcode {
                    width: 270px;
                }

                &#masterdata_other {
                    width: 270px;
                }

                &#masterdata_homeprovince {
                    width: 150px;
                }

                &#masterdata_homecity {
                    width: 250px;
                }

                &#masterdata_note {
                    width: 800px;
                }


                .label_row {
                    margin-left: 0;
                    margin-right: 0;
                    display: block;
                    font-size: 12px;
                    font-weight: 600;
                    color: #7d7d7d;
                    text-transform: uppercase;
                }

                .input_row {
                    margin-left: 0;
                    margin-right: 0;
                    display: block;

                    .dxbs-combobox {
                        width: 100%;

                        button {
                            height: 38px;
                        }
                    }

                    .dxbs-spin-edit {
                        padding-left: 15px;
                        padding-right: 0;
                    }

                    .dxbs-combobox, .dxbs-textbox, .dxbs-date-edit, .dxbs-spin-edit {
                        input {
                            font-size: 16px;
                            font-weight: 400;
                            color: #495057;
                            background-color: #ffffff;
                            height: 38px;

                            &[readonly] {
                                background-color: #e9ecef;
                            }

                            &:focus {
                                border-color: rgba(255, 82, 44, 1);
                                outline: 0;
                                box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                            }
                        }

                        button {
                            color: #495057;
                            background-color: #ffffff;
                            border: 0;
                        }
                    }
                }
            }
        }
    }

}


/*=================================*/
/*========= DATI CHECKIN ==========*/
/*=================================*/

.abbinamento_badge {
    margin-left: 53px;
    margin-right: 53px;
    margin-top: 30px;
    width: 1270px;

    & > .row {
        padding: 0;
        margin-left: 15px;

        & > .row {
            padding: 0;
            margin: 0;

            .col_icon {
                min-width: 58px;
                max-width: 58px;
                padding: 0;
                margin-right: 27px;

                i {
                    min-width: 58px;
                    max-width: 58px;
                    position: relative;
                    bottom: -14px;

                    &::before {
                        font-size: 58px;
                        padding: 0;
                        margin: 0;
                        color: $level_4;
                    }
                }
            }

            &.col_checks {
                max-width: 325px;
                min-width: 325px;


                .col_field {
                    width: 295px;
                }
            }

            &.col_card {
                max-width: 423px;
                min-width: 440px;


                .col_field {
                    width: 342px;
                }
            }

            &.col_pettorina {
                min-width: 280px;
                max-width: 280px;


                .col_field {
                    width: 142px;
                }
            }

            &.col_chip {
                min-width: 320px;
                max-width: 320px;


                .col_field {
                    width: 192px;
                }
            }

            &.col_tattoo {
                min-width: 320px;
                max-width: 320px;


                .col_field {
                    width: 192px;
                }
            }
        }




        .col_field {
            padding-top: 10px;
            padding-left: 0;
            padding-right: 0;
            margin-right: 77px;

            div {

                &#badge_card .label_row,
                &#badge_card .input_row .form-control {
                    width: 270px;
                }

                &#badge_pettorina .label_row,
                &#badge_pettorina .input_row .form-control {
                    width: 115px;
                }

                &#badge_pettorina .input_row .dxbs-spin-edit .input-group {
                    div input {
                        padding-right: 0 !important;
                        font-size: 16px;
                        font-weight: 400;
                        color: #495057;
                        background-color: #ffffff;
                        height: 38px;

                        &[readonly] {
                            background-color: #e9ecef;
                        }

                        &:focus {
                            border-color: rgba(255, 82, 44, 1);
                            outline: 0;
                            box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                        }
                    }

                    .dxbs-spin-btn-group {
                        max-width: 20px;

                        button {
                            color: #495057;
                            max-width: 20px;

                            &.inc {
                                position: relative;
                                right: 8px;
                            }
                        }
                    }
                }

                &#badge_chip .label_row,
                &#badge_chip .input_row .form-control {
                    width: 150px;
                }

                .label_row {
                    margin-left: 0;
                    margin-right: 0;
                    display: block;
                    font-size: 12px;
                    font-weight: 600;
                    color: #7d7d7d;
                    text-transform: uppercase;
                }

                .input_row {
                    margin-left: 0;
                    margin-right: 0;
                    display: block;
                    width: 110px;

                    .dxbs-textbox {
                        .validation-message {
                            color: rgba(220, 53, 69, 1);
                            font-size: 14px;
                            font-style: italic;
                        }


                        input {
                            font-size: 16px;
                            font-weight: 400;
                            color: #495057;
                            background-color: #ffffff;
                            height: 38px;

                            &[readonly] {
                                background-color: #e9ecef;
                            }

                            &:focus {
                                border-color: rgba(255, 82, 44, 1);
                                outline: 0;
                                box-shadow: 0 0 0 0.2rem rgba(255, 82, 44, 0.25);
                            }
                        }
                    }
                }
            }
        }
    }
}