﻿/*=============================*/
/*========= DATAGRID ==========*/
/*=============================*/

.blazored-modal-content .datagrid_total_records {
    color: $level_4;
    position: relative;
    bottom: 30px;
    right: -1225px;
}

.selpro_popup_grid {
    font-family: SegoeUI;
    padding: 25px;
    padding-bottom: 35px;
    background-color: $level_1;

    &.selpro_popup_grid_small .card.dxgvHSDC {
        width: 850px !important;
    }

    .card {
        background-color: $level_1;
        border: 0;
        font-size: 16px;
        font-weight: 300;
        color: $level_5;

        &.dxgvHSDC {
            width: 1291px !important;
            padding-bottom: 12px;
            border-bottom-color: $level_6;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        &.dxgvCSD {
            width: 100% !important;
        }

        thead {
            tr {
                th {
                    .dxbs-fixed-header-content {
                        a {
                            font-size: 12px;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: $level_5;
                        }
                    }
                }
            }
        }

        th, td {
            border: 0;
        }

        .selpro_row {
            line-height: 70px;
            border-bottom-color: rgba($level_2, 0.5);
            border-bottom-style: solid;
            border-bottom-width: 1px;

            td {
                text-align: center !important;

                &.table-active.bg-primary.text-white.text-left {
                    background-color: rgba($selpro_color, 0.15) !important;
                    color: $level_5 !important;
                }

                &:nth-child(1) {
                    font-weight: 600;
                }

                &:nth-child(2) {
                    text-align: left !important;
                }
            }
        }
    }
}
