﻿/*=============================*/
/*========= PAGETABS ==========*/
/*=============================*/

.tab_content_no_overview {
    margin-top: 50px;
}

.selpro_pagetabs_no_overview {
    margin-top: 45px;
}

nav.selpro_pagetabs {
    margin-left: 53px;
    margin-right: 53px;
    height: 51px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) !important;
    border-bottom: $pagetabs_border;

    &.overview_less_selpro_pagetabs {
        margin-top: 43px;
    }

    ul.nav-tabs {
        border: 0;

        li {
            font-size: 16px;
            font-weight: 400;
            margin-right: 28px;

            &.disabled-tablink {
                cursor: default;
                pointer-events: none;

                a.nav-link {
                    text-decoration: none;
                }
            }

            a.nav-link {
                padding-left: 0;
                padding-right: 5px;
                padding-top: 7px;
                display: inline-block;
                height: 50px;
                vertical-align: middle;
                color: $pagetabs_standard_text_color;
                border: 0;

                span.image {
                    font-size: 27px;
                    vertical-align: middle;
                    bottom: 3px;
                    position: relative;


                    .icon-addfile {
                        &:before {
                        }
                    }

                    .icon-appuntamenti {
                        &:before {
                            font-size: 26px;
                        }
                    }

                    .icon-archivio {
                        &:before {
                            font-size: 22px;
                        }
                    }

                    .icon-arrowleft {
                        &:before {
                        }
                    }

                    .icon-arrowright {
                        &:before {
                        }
                    }

                    .icon-attivi {
                        &:before {
                            font-size: 25px;
                        }
                    }

                    .icon-calendarwarning {
                        &:before {
                        }
                    }

                    .icon-card {
                        &:before {
                        }
                    }

                    .icon-chip {
                        &:before {
                        }
                    }

                    .icon-colloqui {
                        &:before {
                        }
                    }

                    .icon-docmedica {
                        &:before {
                        }
                    }

                    .icon-edit {
                        &:before {
                        }
                    }

                    .icon-fotina {
                        &:before {
                        }
                    }

                    .icon-guarda {
                        &:before {
                        }
                    }

                    .icon-home {
                        &:before {
                            font-size: 25px;
                        }
                    }

                    .icon-import {
                        &:before {
                            font-size: 25px;
                        }
                    }

                    .icon-ingara {
                        &:before {
                        }
                    }

                    .icon-listatest {
                        &:before {
                        }
                    }

                    .icon-ok {
                        &:before {
                        }
                    }

                    .icon-pettorina {
                        &:before {
                        }
                    }

                    .icon-reload {
                        &:before {
                        }
                    }

                    .icon-scan {
                        &:before {
                        }
                    }

                    .icon-test-fisici {
                        &:before {
                        }
                    }

                    .icon-testattitudinali {
                        &:before {
                        }
                    }

                    .icon-testaula {
                        &:before {
                        }
                    }

                    .icon-testconclusi {
                        &:before {
                        }
                    }

                    .icon-trash {
                        &:before {
                        }
                    }
                }

                &.active {
                    box-shadow: 0 3px 0 $selpro_color;
                    font-weight: 600;
                    letter-spacing: -0.36px;
                    color: #3d3d3d;
                    border: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    padding-top: 7px;
                    display: inline-block;
                    height: 50px;
                    vertical-align: middle;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

