﻿.form-signin {
    top: 60px;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    position: relative;

    h1 {
        font-size: 18px;
        font-weight: 600;
        color: #3d3d3d;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .pin_box {
        width: 315px;
        height: 405px;
        padding: 28px;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 6px 25px 0 rgba(167, 161, 161, 0.2);

        img {
            width: 260px;
            height: 200px;
            object-fit: cover;
            object-position: center;
            margin-bottom: 12px;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
        }

        .d-flex {
            .field {
                &:first-child {
                    margin-right: 13px;
                }

                .row {
                    padding: 0;
                    margin: 0;

                    &.label_row {
                        margin-left: 0;
                        margin-right: 0;
                        display: block;
                        font-size: 12px;
                        font-weight: 600;
                        color: #7d7d7d;
                        margin-bottom: 6px;
                        text-transform: uppercase;
                        text-align: left;
                    }

                    &.input_row {
                        input {
                            font-size: 16px;
                            font-weight: 400;
                            color: #3d3d3d;
                            background-color: rgba(196, 196, 196, 0.1);
                            max-height: 38px;
                            min-height: 38px;
                            max-width: 123px;
                            min-width: 123px;
                            border: 0;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }

        .instructions {
            margin-top: 27px;
            font-size: 18px;
            font-weight: 400;
            color: #7d7d7d;
        }

        .buttons_row {
            float: right;
            padding: 0;
            margin: 0;

            button {
                margin-left: 25px;
            }
        }

        .message_box_row {
            padding: 0;
            margin: 0;

            textarea {
                resize: none;
                width: 100%;
                height: 52vh;
                margin-bottom: 2vh;
                color: #3d3d3d;
                background-color: rgba(196, 196, 196, 0.1);
                font-size: 20px;
                font-weight: 400;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .call_box_row {
            padding: 0;
            margin: 0;

            textarea {
                resize: none;
                width: 100%;
                height: 63vh;
                color: #3d3d3d;
                background-color: rgba(196, 196, 196, 0.1);
                font-size: 210px;
                font-weight: 400;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
            }
        }
    }

    &.text_message {
        top: -20px;
        max-width: 850px;

        .pin_box {
            width: 800px;
            height: 600px;
        }
    }

    &.call_box {
        top: -45px;
        max-width: 1250px;

        .pin_box {
            width: 1200px;
            height: 650px;
        }
    }
}

.basic_layout {
    font-family: SegoeUI;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
    overflow: hidden;

    .psycho_eval_totem {
        margin-left: 0;
        margin-right: 0;
        height: 100%;

        & > .col {
            padding: 0;
            margin: 0;

            &.totem_left_col {
                min-width: 26%;
                max-width: 26%;

                & .totem_checkin {
                    background-color: rgba(204, 204, 204, 0.35);
                    height: 45.1%;
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 10%;

                    img {
                        width: 100%;
                        height: 67%;
                        object-fit: cover;
                        object-position: center;
                        margin-bottom: 5%;
                        box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.2);
                    }

                    h3 {
                        font-size: 36px;
                        font-weight: 300;
                        color: $level_5;
                        margin-bottom: 2px;
                    }

                    .totem_id_row .col span {
                        color: $selpro_color;
                        font-size: 40px;
                        font-weight: 700;
                    }
                }

                & .totem_queue {
                    background-color: $level_0;
                    height: 54.9%;
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 5.5%;

                    .totem_header_row {
                        margin-left: 0;
                        margin-right: 0;
                        margin-bottom: 5vh;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: $level_2;

                        h3 {
                            font-size: 36px;
                            font-weight: 300;
                            color: $level_5;
                            box-shadow: 0 3px 0px -1px #ff522c;
                            padding-bottom: 16px;
                            width: fit-content;
                            margin-bottom: 0;
                        }
                    }

                    .totem_id_row {
                        margin-bottom: 2.75vh;

                        .col span {
                            color: $level_3;
                            font-size: 40px;
                            font-weight: 700;
                            line-height: 1.55vh;
                        }
                    }
                }
            }

            &.totem_right_col {
                min-width: 74%;
                max-width: 74%;
                background-color: $level_1;
                height: 100%;
            }
        }
    }
}
