@using SustApp.EasySNM.UI.Shared
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @if (authorize)
            {
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (!context.User.Identity.IsAuthenticated)
                        {
                            <RedirectToLogin />
                        }
                        else
                        {
                            <FourZeroFour>
                                <h1>403</h1>
                                <p>Non sei autorizzato ad accedere a questa risorsa</p>
                            </FourZeroFour>
                        }
                    </NotAuthorized>
                    <Authorizing>
                        Autorizzazione in corso...
                    </Authorizing>
                </AuthorizeRouteView>
            }
            else
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            }
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <FourZeroFour>
                    <h1>404</h1>
                </FourZeroFour>
            </LayoutView>
        </NotFound>
    </Router>
    <AuthorizeView>
        <Authorized>
            <JsInterop />
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>