﻿@using SustApp.EasySNM
@model SustApp.EasySNM.IdentityProvider.LoginViewModel
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Easy Sale Network Management Login</title>

    <!-- Favicon -->
    <link rel="icon" href="~/images/logo_no_testo.svg">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Page CSS -->
    <link href="~/css/login.css" rel="stylesheet">

    <script src="~/js/signalr.min.js"></script>
    <script src="~/js/msgpack5.min.js"></script>
    <script src="~/js/signalr-protocol-msgpack.min.js"></script>
    <script src="~/js/jquery.min.js"></script>

    <script>
        // jquery shortcuts for visibility
        jQuery.fn.visible = function() {
            return this.css('visibility', 'visible');
        };

        jQuery.fn.invisible = function() {
            return this.css('visibility', 'hidden');
        };

        jQuery.fn.visibilityToggle = function() {
            return this.css('visibility', function(i, visibility) {
                return (visibility == 'visible') ? 'hidden' : 'visible';
            });
        };

        var cmdId = "";
        var autoCancelId = 0;

        // Create connection to local SysTray app
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("http://localhost:2020/services")
            .configureLogging(signalR.LogLevel.Warning)
            .withHubProtocol(new signalR.protocols.msgpack.MessagePackHubProtocol())
            .withAutomaticReconnect()
            .build();

        // When cmd is removed from reader
        connection.on("CmdEjected", () => {
            cmdId = undefined;
            $(".cardInserting").hide();

            // User must insert cmd
            $("#insertPanel").show();
            $(".enter_pin_now").show();
            // Hide other panels
            $("#pinPanel").hide();
            $("#initPanel").hide();
            $("#errorPanel").invisible();
        });

        connection.on("CardInserting", () => {
            $(".enter_pin_now").hide();
            $(".cardInserting").show();
        });

        connection.on("ErrorOperation", e => {
            // Generic error
            $("#errorPanel").visible();
            $("#errorPanel").text(e).show();
        });

        // Wait for cmd ready event: user has inserted the Cmd or SmartCard
        connection.on("CmdReady", (id, ad, pt, ur) => {
            cmdId = id;
            local_url = window.location.href.substring(0, window.location.href.indexOf("?"));
            base_url = "";
            url_flag = true;

            $("#AdditionalData").val(JSON.stringify(ad));
            $("#ProviderType").val(pt);
            //$("#BaseUri").val(ur);

            if(ur.includes("https://") || ur.includes("http://"))
            {
                url_flag = false;
            }

            if(url_flag)
            {
                base_url = ur.split("/")[0];
                base_url = base_url.split(":")[0];
            }

            if(base_url.includes("localhost") || (url_flag && base_url != "" && local_url.includes(base_url)))
            {
                // Thumbprint valid
                $("#insertPanel").hide();
                // Show pin panel
                $("#pinPanel").show();
                $("#pin").focus();
            }
            else
            {
                $("#errorPanel").visible();
                $("#errorPanel").text("Parametri systray non corretti.").show();
            }
        });

        //Check Thumbprint (EI) or Password (medici or psicologi)
        connection.on("CmdPinChecked", (t, id, pin) => {
            // Pin is valid
            if (t && cmdId === id) {
                clearTimeout(autoCancelId);

                $("#pinPanel").hide();
                $("#Thumbprint").val(t);
                $("#Pin").val(pin);
                // Call backend in order to proceed with login
                $("#loginForm").submit();
            } else {
                // Invalid PIN
                $("#errorPanel").visible();
                $("#errorPanel").text("PIN errato").show();
                $("#pin").focus();
            }
        });
        var serverError = @Model.HasError.ToString().ToLower();

        // Connect to local systray app
        // In order to avoid loop, in case of server error we do not start the connection
        if (!serverError) {
            systrayConnect();
        }

        async function systrayConnect() {
            try {
                await connection.start().then(() => {
                    // Ask to check if cmd is inserted
                    connection.invoke("CheckCmd").then(() => {
                        // Show section which shows to insert the cmd
                        $("#initPanel").hide();
                        if (!cmdId) {
                            $("#insertPanel").show();
                            $(".enter_pin_now").show();
                            @if (Model.SkipLogin)
                            {
                                <text>
                                    autoCancelId = setTimeout(() => $("#cancelForm").submit(), 2000);
                                </text>
                            }
                        }
                    }).catch(e => {
                        // TODO: gestione errore SignalR
                        alert(e);
                    });
                    //If connection to systray is successful let's remove previous errors from GUI.
                    $("#errorPanel").hide();
                    console.log("SignalR Connected.");
                })
            } catch (e) {
                if(document.getElementById("authinput").value != "fakeauth") {
                    //If connection to systray app is not successful we try again every 10 seconds
                    //and show error in GUI.
                    $("#errorPanel").visible();
                    $("#errorPanel").text("Tentativo di connessione al systray, attendere...").show();
                    console.log(e);
                    setTimeout(() => systrayConnect(), 10000);
                } else {
                    //Se NON c'è l'applicazione SysTray e l'utente fa doppio click sul
                    //logo dell'esercito, viene mostrata un prompt
                    //x acquisire l'id (+ semplice di un thumbprint)
                    var cmd = prompt("Cmd", 1);
                    if (cmd) {
                        $("#Thumbprint").val(cmd);
                        $("#pin").val(cmd);
                        $("#ProviderType").val("Cmd");
                        $("#AdditionalData").val(JSON.stringify({
                            RoomNumber: '1',
                            PcName: 'AC-001'
                        }));
                        $("#loginForm").submit();
                    } else {
                        $("#cancelForm").submit();
                    }
                }
            }
        }

        function sendPin() {
            $("#errorPanel").invisible();

            // Avoid form submission
            event.preventDefault();

            var pin = $("#pin").val();
            var providerType = $("#ProviderType").val();

            // Validate pin through systray app
            connection.invoke("CheckCmdPin", cmdId, pin, providerType).catch(e => {
                // TODO: gestione errore SignalR
                alert(e);
            });
        }

        function activateFakeAuth() {
            document.getElementById("authinput").value = "fakeauth";
        }
    </script>
</head>

<body class="text-center">
    <div class="version">
        <span>Versione: @BuildVersionAttribute.Get()</span>
    </div>
    <img ondblclick="activateFakeAuth()" src="~/images/logo_esercito.svg" alt="" width="150" height="92" style="position: fixed; top: 3%; right: 3%;">
    <form class="form-signin" id="form-signin-id" onsubmit="sendPin()">
        <img src="~/images/logo_verticale.svg" alt="" width="150" height="150" style="margin-bottom: 0" />
        <p style="white-space: nowrap; position: relative; margin-bottom: 45px; right: 221px; color: #3d3d3d; font-size: 22px;">
            Informatizzazione del processo di selezione personale militare dell'Esercito
        </p>
        
        @if (Model.HasError)
        {
            <div id="insertPanel" class="pin_box">
                <h3>Modulo Login</h3>
                <p class="instructions">Per favore inserisci la tua card<br/>personale nell'apposito lettore.</p>
                <p class="orange_feedback">Fatto!</p>
                <p class="instructions">Rimuovi la SmartCard e RIPROVA</p>
                <input disabled type="password" id="xyz2" class="form-control" style="visibility: hidden;">
                <a class="btn btn-lg btn-primary btn-block" asp-action="Index">RIPROVA</a>
            </div>
            <div id="errorPanel">
                @Model.Error
            </div>
        }
        else
        {
            <div id="initPanel" class="pin_box">
                <h3>Modulo Login</h3>
                <p class="instructions">Inizializzazione lettore...</p>
                <p class="orange_feedback">&nbsp;</p>
                <p class="instructions">&nbsp;</p>
                <label for="inputPassword" class="sr-only">PIN personale</label>
                <input disabled type="password" id="xyz1" class="form-control" placeholder="PIN personale">
                <button disabled class="btn btn-lg btn-primary btn-block" type="submit">ACCEDI</button>
            </div>

            <div id="insertPanel" style="display: none" class="pin_box">
                <h3>Modulo Login</h3>
                <p class="instructions">Per favore inserisci la tua card<br/>personale nell'apposito lettore.</p>
                <p class="orange_feedback">&nbsp;</p>
                <p class="instructions enter_pin_now">&nbsp;</p>
                <p class="cardInserting" style="display: none">Lettura in corso...</p>
                <label for="inputPassword" class="sr-only">PIN personale</label>
                <input disabled style="visibility: hidden;" type="password" id="xyz2" class="form-control" placeholder="PIN personale">
                <button disabled class="btn btn-lg btn-primary btn-block" type="submit">ACCEDI</button>
            </div>

            <div id="pinPanel" style="display: none" class="pin_box">
                <h3>Modulo Login</h3>
                <p class="instructions">Per favore inserisci la tua card<br/>personale nell'apposito lettore.</p>
                <p class="orange_feedback">Fatto!</p>
                <p class="instructions">Ora inserisci il tuo PIN personale.</p>
                <label for="inputPassword" class="sr-only">PIN personale</label>
                <input type="password" id="pin" class="form-control" placeholder="PIN personale">
                <button class="btn btn-lg btn-primary btn-block" type="submit">ACCEDI</button>
            </div>

            <div id="errorPanel" style="display: block; visibility: hidden;">
                @Model.Error
            </div>
        }
    </form>

    <form id="loginForm" asp-action="Index" method="post">
        <input type="hidden" asp-for="Thumbprint" />
        <input type="hidden" asp-for="AdditionalData" />
        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="ProviderType" />
        @*<input type="hidden" asp-for="BaseUri" />*@
        <input type="hidden" asp-for="Pin" />
    </form>

    <form id="cancelForm" asp-action="Cancel" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
    </form>

    <input id="authinput" type="hidden" value="">

    <script>
        //Login event on Enter click button:
        $('#pin').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13' || keycode == '32') {
                sendPin();
            }
        });
    </script>

    <script>
                    // TODO: se la smartcard non è presente e siamo in modalità autologin (vedere middleware)
                    // dobbiamo comunque rimandare al returnUrl originale
    </script>
</body>

</html>