﻿/* Selawik */
@font-face {
    font-family: 'Selawik';
    font-style: normal;
    font-weight: 400;
    src: local('Selawik Regular'), url('selawk.ttf') format('truetype'), url('selawk.woff') format('woff');
}

/* Selawik - light */
@font-face {
    font-family: 'Selawik';
    font-style: normal;
    font-weight: 300;
    src: local('Selawik Light'), url('selawkl.ttf') format('truetype'), url('./selawkl.woff') format('woff');
}

/* Selawik - semilight */
@font-face {
    font-family: 'Selawik';
    font-style: normal;
    font-weight: 350;
    src: local('Selawik Semilight'), url('selawksl.ttf') format('truetype'), url('./selawksl.woff') format('woff');
}

/* Selawik - bold */
@font-face {
    font-family: 'Selawik';
    font-style: normal;
    font-weight: 700;
    src: local('Selawik Bold'), url('selawkb.ttf') format('truetype'), url('./selawkb.woff') format('woff');
}

/* Selawik - semibold */
@font-face {
    font-family: 'Selawik';
    font-style: normal;
    font-weight: 600;
    src: local('Selawik Semibold'), url('selawksb.ttf') format('truetype'), url('./selawksb.woff') format('woff');
}