@page "/authentication/{action}"
@*@attribute [AllowAnonymous]*@
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@if (show)
{
    <RemoteAuthenticatorView Action="@Action">
        <LoggingIn>
            Stai entrando
        </LoggingIn>
        <LogOutSucceeded>
            <RedirectToLogin />
        </LogOutSucceeded>
    </RemoteAuthenticatorView>
}

@code{
    [Parameter] public string Action { get; set; }

#if SERVER
    private bool show = false;
#else
private bool show = true;
#endif

 
}
