﻿@page "/"
@inject NavigationManager NavigationManager
@*
<DxTabs class="selpro_pagetabs overview_less_selpro_pagetabs">
    <DxTab TabIconCssClass="icon-attivi" Text="Seleziona area"></DxTab>
</DxTabs>
*@
<div class="row splash_title">

    <div class="col">
        <h1>SELEZIONA AMBITO DI LAVORO</h1>
    </div>

</div>

<div class="row">
    <div class="col" />

    <div class="col splash_icon_list d-flex flex-row">
        @foreach (var Icon in ListIcon)
        {
            <div class="splash_single_icon">
                <a class="splash_link" @onclick="@(() => GoUrl(Icon.LinkPath))">
                    <img src="@Icon.IconPath" style="@Icon.IconStyle" />

                    <span>@Icon.ModuleName</span>
                </a>
            </div>
        }
    </div>
    <div class="col" />
</div>

