﻿@mixin input_labels() {
    & {
        label.input_label,
        label.label_row {
            margin-left: 0;
            margin-right: 0;
            display: block;
            font-size: 12px;
            font-weight: 600;
            color: $level_4;
            text-transform: uppercase;
        }
    }
}
