﻿@mixin input_dateedit() {
    & {
        .dxbs-date-edit {
            .input-group {
                width: 100% !important;

                input {
                    font-size: 16px;
                    font-weight: 400;
                    color: $level_5;
                    background-color: $level_0;
                    height: 38px;
                    width: 100%;

                    &[readonly] {
                        background-color: $level_1;
                    }

                    &:focus {
                        border-color: rgba($selpro_color, 1);
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba($selpro_color, 0.25);
                    }
                }

                button {
                    color: $level_5;
                    background-color: $level_0;
                    border: 0;
                }
            }
        }
    }
}
