﻿@mixin input_spinedit() {
    & {
        .dxbs-spin-edit {

            .input-group {

                div input {
                    padding-right: 0 !important;
                    font-size: 16px;
                    font-weight: 400;
                    color: $level_5;
                    background-color: $level_0;
                    height: 38px;

                    &[readonly] {
                        background-color: $level_1;
                    }

                    &:focus {
                        border-color: rgba($selpro_color, 1);
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba($selpro_color, 0.25);
                    }
                }

                .dxbs-spin-btn-group {
                    max-width: 20px;

                    button {
                        color: $level_5;
                        max-width: 20px;

                        &.inc {
                            position: relative;
                            right: 8px;
                        }
                    }
                }
            }
        }
    }
}
