﻿@mixin input_combobox() {
    & {
        .dxbs-combobox {
            width: 100%;

            input {
                height: 38px;
                color: $level_5;
                background-color: $level_0 !important;
            }

            button {
                color: $level_5;
                background-color: $level_0;
                border: 0
            }
        }
    }
}
