﻿@mixin input_checkbox() {
    & {
        .dx-blazor-checkbox {
            div.custom-control {
                display: block !important;
            }

            &.exclusive_checkbox {
                .custom-control-input:disabled:checked ~ .custom-control-label::before {
                    border-color: $selpro_color;
                    background-color: $selpro_color;
                }

                .custom-control-input:disabled:focus ~ .custom-control-label::before {
                    box-shadow: 0 0 0 0.2rem rgba($selpro_color,0.25);
                }
            }

            label.dx-blazor-checkbox-label-right {
                max-width: 90%;
                position: relative;
                left: 25px;
                top: -23px;
            }

            .custom-control-input:checked ~ .custom-control-label::before {
                border-color: $selpro_color;
                background-color: $selpro_color;
            }

            .custom-control-input:disabled:checked ~ .custom-control-label::before {
                border-color: rgba($selpro_color, 0.5);
                background-color: rgba($selpro_color, 0.5);
            }

            .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
                border-color: $selpro_color;
            }

            .custom-control-input:focus ~ .custom-control-label::before {
                box-shadow: 0 0 0 0.2rem rgba($selpro_color,0.25);
            }

            .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
                background-color: rgb(255, 212, 202);
            }
        }
    }
}
