﻿@mixin input_memo() {
    & {
        .dxbs-memo {
            textarea {
                font-size: 16px;
                font-weight: 400;
                color: $level_5;
                border-radius: 3px;
                border-color: $level_2;
                background-color: $level_0;
                height: 38px;
                min-height: 38px !important;

                &[readonly],
                &[disabled] {
                    background-color: rgba($level_4, 0.1);
                }

                &:focus {
                    border-color: rgba($selpro_color, 1);
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba($selpro_color, 0.25);
                }
            }
        }
    }
}
