﻿@mixin input_calendar() {
    & {
        .dxbs-calendar {
            .calendar_row {
                .dxbs-day.table-active:not(.disabled) {
                    background-color: $selpro_color;
                }
            }

            .card-footer {
                .btn-secondary {
                    font-family: Selawik;
                    font-weight: 400;
                    font-size: 14px;
                    min-width: unset;
                    height: 31px;
                    padding-top: 4px;
                    padding-left: 8px;
                    padding-right: 8px;
                    color: white;
                    background-color: #737373;
                    border-color: #737373;
                    border-style: solid;
                    border-width: 1px;
                    -webkit-box-shadow: 0px 0px 0px 0px transparent;
                    -moz-box-shadow: 0px 0px 0px 0px transparent;
                    box-shadow: 0px 0px 0px 0px transparent;

                    &:nth-child(1) {
                        display: none;
                    }
                }
            }
        }
    }
}
