﻿@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject UserContext UserContext
@inject IJSRuntime JsRuntime

<SelProPage>
    <SpinnerValue>
        <BlazoredModal />
        @*<MainHeader @ref="MainHeaderComponent" Sidebar="ToggleSidebar" />*@

        @if(IsLandingPage() || IsBackofficePage())
        {
            @*
            <AuthorizeView Roles="@String.Join(",", ConstantCommon.UserRoleAdminId, ConstantCommon.UserRoleBackofficeId, ConstantCommon.UserRoleBackofficePerId)">
                <SidebarPanel Sidebar="ToggleSidebar" Style="@SidebarVisibility()" />
            </AuthorizeView>
            *@
        }            

        <main role="main" class="container-fluid" >@*  @onclick="@(() => ToggleSidebar(false))" >*@
            <CascadingValue Value=EventMain>
                @Body
            </CascadingValue>

            <BlazoredToasts Position="ToastPosition.BottomRight"
                            Timeout="10"
                            SuccessClass="success-toast-override" />
        </main>
    </SpinnerValue>
</SelProPage>
