﻿@typeparam TItem

<label class="row label_row">@Label</label>
<div class="row input_row">
    @ChildContent
    @if (!String.IsNullOrWhiteSpace(Help))
    {
        @*<span class="help-block">@Help</span>*@
    }
</div>


@code {

    /// <summary>
    /// Html inject from child control
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Lable added to html control
    /// </summary>
    [Parameter]
    public string Label { get; set; } = "!*";

    /// <summary>
    /// Help added to html control
    /// </summary>
    [Parameter]
    public string Help { get; set; } = "!*";

    /// <summary>
    /// Expression di Entity
    /// </summary>
    [Parameter]
    public System.Linq.Expressions.Expression<Func<TItem>> Model { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Model != null)
        {
            //Retrieves the value lable from "Display" attribute on property:
            if (String.IsNullOrWhiteSpace(Label))
            {
                var memberExpression = Model.Body as System.Linq.Expressions.MemberExpression;
                Label = memberExpression.Member.GetCustomAttribute<DisplayAttribute>()?.GetName() ??
                        memberExpression.Member.Name;
            }

            if (Label == "!*")
            {
                Label = "";
            }

            //Retrieves the value help from "Description" attribute on property:
            if (String.IsNullOrWhiteSpace(Help))
            {
                var memberExpression = Model.Body as System.Linq.Expressions.MemberExpression;
                Help = memberExpression.Member.GetCustomAttribute<DescriptionAttribute>()?.Description ??
                       memberExpression.Member.GetCustomAttribute<DisplayAttribute>()?.GetDescription();
            }

            if (Help == "!*")
            {
                Help = "";
            }
        }
    }
}