﻿<Row Label="@Label" Help="@Help" Model="@ValueExpression">
    <InputSelect Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" ChildContent="@ChildContent">
    </InputSelect>
    <ValidationMessage For="@ValueExpression" />
</Row>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public System.Linq.Expressions.Expression<Func<string>> ValueExpression { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Lable added to html control
    /// </summary>
    [Parameter]
    public string Label { get; set; }

    /// <summary>
    /// Help added to html control
    /// </summary>
    [Parameter]
    public string Help { get; set; }
}