﻿<CascadingValue Value="@context" Name="SpinnerContext">
    <Spinner />
    @ChildContent
</CascadingValue>

@code {
    private SpinnerContext context;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        context = new SpinnerContext();
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}