﻿@using SustApp.EasySNM.UI.Forms
@implements IDisposable
@if (Context.IsActive) //The html control is present or not
{
    <div class="selpro-spinner-overlay"></div>
    <div class="d-flex justify-content-center selpro-spinner">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}

@code {
    [CascadingParameter (Name = "SpinnerContext")] public SpinnerContext Context { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Context != null)
        {
            Context.IsActiveChanged += OnIsActiveChanged;
        }
    }

    void IDisposable.Dispose()
    {
        if (Context != null)
        {
            Context.IsActiveChanged -= OnIsActiveChanged;
        }
    }

    private void OnIsActiveChanged(object s, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
}