﻿@if (!editContext.IsModified())
{
    <button type="submit" disabled @attributes="AdditionalAttributes">
        @ChildContent
    </button>
}
else
{
    <button type="submit" disabled="@DisableButton" @attributes="AdditionalAttributes">
        @ChildContent
    </button>
}

@code
{
    private EditContext editContext;

    [Parameter] public bool DisableButton { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [CascadingParameter]
    public EditContext EditContext { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (editContext != null)
        {
            editContext.OnFieldChanged -= EditContextOnOnFieldChanged;
        }

        EditContext.OnFieldChanged += EditContextOnOnFieldChanged;
        editContext = EditContext;
    }

    private void EditContextOnOnFieldChanged(object sender, FieldChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);

        if (disposing)
        {
            editContext.OnFieldChanged -= EditContextOnOnFieldChanged;
        }
    }

}
