@font-face {
  font-family: 'selpro';
  src: url('../font/selpro.eot?73413514');
  src: url('../font/selpro.eot?73413514#iefix') format('embedded-opentype'),
       url('../font/selpro.woff2?73413514') format('woff2'),
       url('../font/selpro.woff?73413514') format('woff'),
       url('../font/selpro.ttf?73413514') format('truetype'),
       url('../font/selpro.svg?73413514#selpro') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'selpro';
    src: url('../font/selpro.svg?73413514#selpro') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "selpro";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-fotina:before { content: '\e800'; } /* '' */
.icon-guarda:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-import:before { content: '\e803'; } /* '' */
.icon-ingara:before { content: '\e804'; } /* '' */
.icon-listatest:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-pettorina:before { content: '\e808'; } /* '' */
.icon-reload:before { content: '\e809'; } /* '' */
.icon-scan:before { content: '\e80a'; } /* '' */
.icon-testattitudinali:before { content: '\e80b'; } /* '' */
.icon-testaula:before { content: '\e80c'; } /* '' */
.icon-testconclusi:before { content: '\e80d'; } /* '' */
.icon-testfisici:before { content: '\e80e'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-addfile:before { content: '\e810'; } /* '' */
.icon-appuntamenti:before { content: '\e811'; } /* '' */
.icon-archivio:before { content: '\e812'; } /* '' */
.icon-arrowleft:before { content: '\e813'; } /* '' */
.icon-arrowright:before { content: '\e814'; } /* '' */
.icon-attivi:before { content: '\e815'; } /* '' */
.icon-calendarwarning:before { content: '\e816'; } /* '' */
.icon-card:before { content: '\e817'; } /* '' */
.icon-chip:before { content: '\e818'; } /* '' */
.icon-colloqui:before { content: '\e819'; } /* '' */
.icon-docmedica:before { content: '\e81a'; } /* '' */
.icon-edit:before { content: '\e81b'; } /* '' */
.icon-add:before { content: '\e81c'; } /* '' */
.icon-cardio:before { content: '\e81d'; } /* '' */
.icon-richieste:before { content: '\e81e'; } /* '' */
.icon-psico:before { content: '\e81f'; } /* '' */
.icon-settings:before { content: '\e820'; } /* '' */
.icon-hamburger:before { content: '\e821'; } /* '' */
.icon-otorino:before { content: '\e823'; } /* '' */
.icon-muscle:before { content: '\e824'; } /* '' */