
.icon-fotina:before { content: '\e800'; } /* '' */
.icon-guarda:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-import:before { content: '\e803'; } /* '' */
.icon-ingara:before { content: '\e804'; } /* '' */
.icon-listatest:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-pettorina:before { content: '\e808'; } /* '' */
.icon-reload:before { content: '\e809'; } /* '' */
.icon-scan:before { content: '\e80a'; } /* '' */
.icon-testattitudinali:before { content: '\e80b'; } /* '' */
.icon-testaula:before { content: '\e80c'; } /* '' */
.icon-testconclusi:before { content: '\e80d'; } /* '' */
.icon-testfisici:before { content: '\e80e'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-addfile:before { content: '\e810'; } /* '' */
.icon-appuntamenti:before { content: '\e811'; } /* '' */
.icon-archivio:before { content: '\e812'; } /* '' */
.icon-arrowleft:before { content: '\e813'; } /* '' */
.icon-arrowright:before { content: '\e814'; } /* '' */
.icon-attivi:before { content: '\e815'; } /* '' */
.icon-calendarwarning:before { content: '\e816'; } /* '' */
.icon-card:before { content: '\e817'; } /* '' */
.icon-chip:before { content: '\e818'; } /* '' */
.icon-colloqui:before { content: '\e819'; } /* '' */
.icon-docmedica:before { content: '\e81a'; } /* '' */
.icon-edit:before { content: '\e81b'; } /* '' */
.icon-add:before { content: '\e81c'; } /* '' */
.icon-cardio:before { content: '\e81d'; } /* '' */
.icon-richieste:before { content: '\e81e'; } /* '' */
.icon-psico:before { content: '\e81f'; } /* '' */
.icon-settings:before { content: '\e820'; } /* '' */
.icon-hamburger:before { content: '\e821'; } /* '' */
.icon-otorino:before { content: '\e823'; } /* '' */
.icon-muscle:before { content: '\e824'; } /* '' */