﻿//Colore base del tema
$selpro_color: rgba(255, 82, 44, 1); //ArancioSelPro
$level_0: rgba(255, 255, 255, 1); //Bianco
$level_1: rgba(246, 246, 246, 1); //SfondoHeader
$level_2: rgba(204, 204, 204, 1); //Grigetto
$level_3: rgba(170, 170, 170, 1); //Grigino
$level_4: rgba(115, 115, 115, 1); //GrigioMedio
$level_5: rgba(61, 61, 61, 1); //Grigione
$level_6: rgba(35, 35, 35, 1); //QuasiNero
$green: rgba(93, 212, 141, 1); //VerdeSperanza
$pink: rgba(255, 44, 94, 1); //Rosa
$red: rgba(220, 53, 69, 1); //RossoAlert


//Colori elementi standard
$standard_elements_color: $level_0;
$standard_elements_background: $level_4;

//Colori elementi evidenziati
$highlighted_elements_color: $level_5;
$highlighted_elements_background: $level_1;

//Colori elementi allerta
$warning_elements_color: $level_0;
$warning_elements_background: $selpro_color;


$dark_text: rgba(61, 61, 61, 1);
$light_text: rgba(115, 115, 125, 1);
$warining_text: $selpro_color;

$cell_border: solid 1px rgba(206, 206, 206, 1);


$normal_cell_background: rgba(255, 255, 255, 1);
$disabled_cell_background: rgba(170, 170, 170, 0.1);
$dots_cell_background: $disabled_cell_background;
$woman_cell_background: rgba(255, 44, 94, 0.08);
$warning_cell_background: rgba(255, 82, 44, 0.08);

$pagetabs_border: solid 1px rgba(229, 229, 229, 1);
$pagetabs_standard_text_color: rgba(197, 197, 197, 1);
$pagetabs_selected_text_color: rgba(70, 70, 70, 1);